<app-no-nav-header></app-no-nav-header>

<div class="main-container">
  <section class="no-pad error-page bg-primary fullscreen-element">
    <div class="container align-vertical">
      <div class="row">
        <div class="col-sm-12 text-center">
          <div class="col-sm-12 text-center"> <i class="fa fa-hourglass icon-large"></i>
            <h1 class="jumbo">500</h1>
            <h1><strong>Sorry about this, something's gone wrong.</strong><br>
            This issue has been documented and will be fixed shortly</h1>
            <a routerLink="/" class="btn btn-primary btn-white">Take Me Home</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<app-no-icon-footer></app-no-icon-footer>
