<p>
  Uses: Mouse: Logitech MX Master 2S (Windows), Apple Magic Mouse 2 (MacOS) Keyboard: Logitech K375s (Windows), Apple Magic Keyboard 2 (MacOS) Desktop: Dell Optiplex 7010 SFF with
  Windows 10 Pro, 16GB RAM, i7-3770, (2) Crucial 500GB MX500 SSD, MSI RX560 graphics card Laptop: Dell Inspiron 15 7580 with Windows 10 Pro, 256GB NVMe SSD, 16GB RAM, i5-8265U
  laptop Bag: Timbuk2 Q Laptop Backpack Monitor: Samsung S24C650BW 24in 1920x1200 Chair: Herman Miller Aeron Laptop stand: NEXSTAND K2 Speakers: Creative Inspire S2 Software: E2E
  Testing: Cypress Test Runner: Jest IDE: VS Code Terminal: Hyper Music: Spotify
</p>
