<section class="image-divider overlay duplicatable-content">
  <div class="background-image-holder parallax-background skrollable skrollable-between"
  style="transform: translate3d(0px, -31.9658px, 0px); background: url(assets/img/utah.jpg) 50% 0%;"
  data-bottom-top="-webkit-transform: translate3d(0px,-50px, 0px)"
  data-center="-webkit-transform: translate3d(0px,0px, 0px)"
  data-top-bottom="-webkit-transform: translate3d(0px,50px, 0px)">
     <img class="background-image" alt="Background Image" src="assets/img/utah.jpg" style="display: none;">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h1 class="text-white">Driving</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="feature feature-icon-large">
          <i class="text-white fa fa-car"></i>
          <h5 class="text-white">Average Daily Driving</h5>
          <p class="text-white" [innerHtml]="(car && (car.totalMiles / car.totalDays) | number:'1.0-0') + ' Miles'"></p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feature feature-icon-large">
          <i class="text-white fa fa-map-o"></i>
          <h5 class="text-white">Total Miles Driven in 2017</h5>
          <p class="text-white" [innerHtml]="(car && car.totalMiles | number:'1.0-0') + ' Miles'"></p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feature feature-icon-large">
          <i class="text-white fa fa-calendar"></i>
          <h5 class="text-white">Days Per Barrel of Gas Used</h5>
          <p class="text-white" [innerHtml]="(car && car.daysPerBarrel | number:'1.0-0') + ' Days'"></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <a href="http://www.fuelly.com/driver/waterland15">
           <img style="width: 48px; opacity:0.8;"
           onMouseOut="this.style.opacity='0.8'" onMouseOver="this.style.opacity='1'" src="assets/img/gas-icon.png">
        </a>
      </div>
    </div>
  </div>
</section>
