<section>
  <!--
	<h2 class="top-artists-header">
		<span>Top Artists</span>
	</h2>
	-->

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="photostack" class="photostack">
          <div *ngIf="topArtists && topArtists.length">
            <figure class="sticky" style="padding: 20px; background-color: #ffc">
              <figcaption class="pt-0">
                <div class="mb-2 photostack-title font-weight-bold">&hearts; Top Artists &hearts;</div>
                <ul class="photostack-artists">
                  <li class="d-md-none" *ngFor="let artist of topArtists.slice(0, 8); trackBy: artist" [innerHTML]="artist.artist"></li>
                  <li class="d-none d-md-block" *ngFor="let artist of topArtists; trackBy: artist" [innerHTML]="artist.artist"></li>
                </ul>
              </figcaption>
            </figure>
            <figure data-dummy *ngFor="let artist of topArtists; trackBy: artist">
              <span class="photostack-img">
                <img [src]="artist.img" [title]="artist.artist" [alt]="artist && artist.artist" />
              </span>
              <figcaption>
                <div class="h2 photostack-title" [innerHTML]="artist.artist"></div>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
