<div class="loader"></div>
<div class="nav-container">
  <nav class="fullscreen-nav top-bar overlay-bar">
    <div class="fullscreen-nav-toggle">
      <i class="fa fa-bars"></i>
      <i class="fa fa-times"></i>
    </div>

    <div class="fullscreen-nav-container">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <a href="/">
              <img class="logo" alt="Logo" src="assets/img/icon white.png">
            </a>
            <ul class="menu">
              <li><a href="/index">Home</a></li>
              <li><a href="http://blog.schulzetenberg.com">Blog</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
