.social-link {
  font-size: 42px;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.social-link:hover {
  opacity: 1;
}

.elegant-color {
  background-color: #2e2e2e;
}

.grey-text {
  color: #9e9e9e;
}

footer {
  background: url('./topography.png');

  &.page-footer {
    bottom: 0;
    color: white;

    a {
      color: white;
    }
  }
}
