<footer class="page-footer mdb-color text-center pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
          <h4 class="h4-responsive grey-text">Get In Touch</h4>
          <a href="mailto:Jacob.Schulzetenberg@gmail.com" class="my-5 text-white" target="default">
            <strong>Jacob.Schulzetenberg@gmail.com</strong>
          </a>
      </div>
    </div>
  </div>

  <div class="text-center py-4">
    <a
      class="btn-floating social-link waves-light mx-3"
      mdbWavesEffect
      href="http://www.linkedin.com/in/schulzetenberg"
      target="default">
        <i class="fa fa-linkedin-square"></i>
    </a>
    <a
      class="btn-floating social-link waves-light mx-3"
      mdbWavesEffect
      href="http://blog.schulzetenberg.com"
      target="default">
        <i class="fa fa-wordpress" style="font-size: 90%;"></i>
    </a>
    <a
      class="btn-floating social-link waves-light mx-3"
      mdbWavesEffect
      href="https://www.instagram.com/schulzetenberg"
      target="default">
        <i class="fa fa-instagram"></i>
    </a>
    <a
      class="btn-floating social-link waves-light mx-3"
      mdbWavesEffect
      href="https://twitter.com/schulzetenberg"
      target="default">
        <i class="fa fa-twitter-square"></i>
    </a>
    <a
      class="btn-floating social-link waves-light mx-3"
      mdbWavesEffect
      href="https://play.spotify.com/user/1210741906"
      target="default">
        <i class="fa fa-spotify"></i>
    </a>
    <a
      class="btn-floating social-link waves-light mx-3"
      mdbWavesEffect
      href="https://github.com/schulzetenberg"
      target="default">
        <i class="fa fa-github-square"></i>
    </a>
  </div>
  <div class="container-fluid text-center pb-5 grey-text">
    <small>© Copyright 2018 Jacob Schulzetenberg</small>
  </div>
</footer>
