<footer class="page-footer elegant-color text-center pt-5 pb-4">
  <div class="container pt-4">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="h1-responsive color-main">Get In Touch</h1>
        <a href="mailto:Jacob.Schulzetenberg@gmail.com" class="my-5 text-white h5" target="default"> Jacob.Schulzetenberg@gmail.com </a>
      </div>
    </div>
  </div>

  <div class="text-center py-4">
    <a class="social-link mx-3" href="https://www.linkedin.com/in/schulzetenberg" target="default">
      <i class="fa fa-linkedin-square"></i>
    </a>
    <a class="social-link mx-3" href="https://www.instagram.com/schulzetenberg" target="default">
      <i class="fa fa-instagram"></i>
    </a>
    <a class="social-link mx-3" href="https://twitter.com/schulzetenberg" target="default">
      <i class="fa fa-twitter-square"></i>
    </a>
    <a class="social-link mx-3" href="https://open.spotify.com/user/waterland15" target="default">
      <i class="fa fa-spotify"></i>
    </a>
    <a class="social-link mx-3" href="https://github.com/schulzetenberg" target="default">
      <i class="fa fa-github-square"></i>
    </a>
  </div>
  <div class="container-fluid text-center pb-5 grey-text">
    <small>© Copyright {{ copyrightYear }} Jacob Schulzetenberg</small>
  </div>
</footer>
