<footer class="page-footer elegant-color text-center pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="h3-responsive color-main pb-3">Get In Touch</h3>
        <a href="mailto:Jacob.Schulzetenberg@gmail.com" class="my-5 text-white" target="default">
          Jacob.Schulzetenberg@gmail.com
        </a>
      </div>
    </div>
  </div>

  <div class="text-center py-4">
    <a class="social-link waves-light mx-3" href="https://www.linkedin.com/in/schulzetenberg" target="default">
      <i class="fa fa-linkedin-square"></i>
    </a>
    <!--
    <a class="social-link waves-light mx-3" href="http://blog.schulzetenberg.com" target="default">
      <i class="fa fa-wordpress" style="font-size: 90%;"></i>
    </a>
    -->
    <a class="social-link waves-light mx-3" href="https://www.instagram.com/schulzetenberg" target="default">
      <i class="fa fa-instagram"></i>
    </a>
    <a class="social-link waves-light mx-3" href="https://twitter.com/schulzetenberg" target="default">
      <i class="fa fa-twitter-square"></i>
    </a>
    <a class="social-link waves-light mx-3" href="https://play.spotify.com/user/sczo93au5tgxr1cnsttqtsqz7" target="default">
      <i class="fa fa-spotify"></i>
    </a>
    <a class="social-link waves-light mx-3" href="https://github.com/schulzetenberg" target="default">
      <i class="fa fa-github-square"></i>
    </a>
  </div>
  <div class="container-fluid text-center pb-5 grey-text">
    <small>© Copyright {{ copyrightYear }} Jacob Schulzetenberg</small>
  </div>
</footer>
