		<div class="footer-container">
			<footer class="social bg-secondary-1">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1 class="text-teal">Get In Touch</h1>
							<a href="mailto:Jacob.Schulzetenberg@gmail.com" class="text-white" target="default"><strong>Jacob.Schulzetenberg@gmail.com</strong></a><br>
							<ul class="social-icons">
								<li>
									<a href="http://www.linkedin.com/in/schulzetenberg" target="default">
										<i class="fa fa-linkedin-square"></i>
									</a>
								</li>
								<li>
									<a href="http://blog.schulzetenberg.com" target="default">
										<i class="fa fa-wordpress" style="font-size: 90%;"></i>
									</a>
								</li>
								<li>
									<a href="https://www.instagram.com/schulzetenberg" target="default">
										<i class="fa fa-instagram"></i>
									</a>
								</li>
                                <li>
									<a href="https://twitter.com/schulzetenberg" target="default">
										<i class="fa fa-twitter-square"></i>
									</a>
								</li>
								<li>
									<a href="https://play.spotify.com/user/1210741906" target="default">
										<i class="fa fa-spotify"></i>
									</a>
								</li>
								<li>
									<a href="https://github.com/schulzetenberg" target="default">
										<i class="fa fa-github-square"></i>
									</a>
								</li>
							</ul><br>
							<span class="sub">&copy; Copyright 2016 Jacob Schulzetenberg - All Rights Reserved</span>
						</div>
					</div>
				</div>
		  </footer>
		</div>

		<script src="plugins/bootstrap/bootstrap.min.js"></script>
		<script src="plugins/jquery/jquery.flexslider-min.js"></script>
		<script src="js/scripts.js"></script>
  </body>
</html>
