		<div class="footer-container">	
			<footer class="social bg-secondary-1">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1 class="text-teal">Get In Touch</h1>
							<a href="mailto:Jacob.Schulzetenberg@gmail.com" class="text-white" target="default"><strong>Jacob.Schulzetenberg@gmail.com</strong></a><br>
							<ul class="social-icons">
								<li>
									<a href="http://www.linkedin.com/in/schulzetenberg" target="default">
										<i class="icon social_linkedin"></i>
									</a>
								</li>
								<li>
									<a href="http://blog.schulzetenberg.com" target="default">
										<i class="icon social_wordpress"></i>
									</a>
								</li>
								<li>
									<a href="https://www.instagram.com/schulzetenberg" target="default">
										<i class="icon social_instagram"></i>
									</a>
								</li>
                                <li>
									<a href="https://twitter.com/schulzetenberg" target="default">
										<i class="icon social_twitter"></i>
									</a>
								</li>
								<li>
									<a href="https://play.spotify.com/user/1210741906" target="default">
										<i class="icon social_spotify"></i>
									</a>
								</li>
							</ul><br>
							<span class="sub">© Copright 2015 Jacob Schulzetenberg&nbsp;- All Rights Reserved</span>
						</div>
					</div>
				</div>
		  </footer>
	</div>		
		<script src="https://www.youtube.com/iframe_api"></script>
		<script src="plugins/jquery/jquery.min.js"></script>
        <script src="plugins/jquery/jquery.plugin.min.js"></script>
        <script src="plugins/bootstrap/bootstrap.min.js"></script>
        <script src="plugins/jquery/jquery.flexslider-min.js"></script>
        <script src="plugins/smooth-scroll/smooth-scroll.min.js"></script>
        <script src="plugins/skrollr/skrollr.min.js"></script>
        <script src="plugins/spectragram/spectragram.min.js"></script>
        <script src="plugins/scrollReveal/scrollReveal.min.js"></script>
        <script src="plugins/isotope/isotope.min.js"></script>
        <script src="plugins/twitterFetcher/twitterFetcher_v10_min.js"></script>
        <script src="plugins/lightbox/lightbox.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>