<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">

  <head>
    <meta charset="utf-8">
    <title>Schulzetenberg.com</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <% include ./header-scripts.html %>
  </head>

  <body>
    <div class="loader"></div>
    <div class="nav-container">
      <nav class="fullscreen-nav top-bar overlay-bar">

        <div class="fullscreen-nav-toggle">
          <i class="icon icon_menu"></i>
          <i class="icon icon_close"></i>
        </div>

        <div class="fullscreen-nav-container">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <a href="index.html">
                  <img class="logo" alt="Logo" src="img/icon white.png">
                </a>
                <ul class="menu">
                  <li><a href="index">Home</a></li>
                  <li><a href="projects">Projects</a></li>
                  <li><a href="http://blog.schulzetenberg.com" target="new">Blog</a></li>
                  <li><a href="about">About</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
