<!DOCTYPE html>
<html class="no-js">

  <head>
    <meta charset="utf-8">
    <title>Schulzetenberg.com</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <% include ./header-scripts.html %>
  </head>

  <body>
    <div class="loader"></div>
    <div class="nav-container">
      <nav class="fullscreen-nav top-bar overlay-bar">

        <div class="fullscreen-nav-toggle">
          <i class="fa fa-bars"></i>
          <i class="fa fa-times"></i>
        </div>

        <div class="fullscreen-nav-container">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <a href="index.html">
                  <img class="logo" alt="Logo" src="img/icon white.png">
                </a>
                <ul class="menu">
                  <li><a href="index">Home</a></li>
                  <li><a href="http://blog.schulzetenberg.com">Blog</a></li>
                  <li><a href="about">About</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
