		<div class="footer-container">
		</div>
				
		<script src="https://www.youtube.com/iframe_api"></script>
		<script src="plugins/jquery/jquery.min.js"></script>
        <script src="plugins/jquery/jquery.plugin.min.js"></script>
        <script src="plugins/bootstrap/bootstrap.min.js"></script>
        <script src="plugins/jquery/jquery.flexslider-min.js"></script>
        <script src="plugins/smooth-scroll/smooth-scroll.min.js"></script>
        <script src="plugins/skrollr/skrollr.min.js"></script>
        <script src="plugins/scrollReveal/scrollReveal.min.js"></script>
        <script src="plugins/isotope/isotope.min.js"></script>
        <script src="plugins/lightbox/lightbox.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>