/* Global custom styles */

@import 'site-defaults';

.color-main {
  color: $primary;
}

section:nth-of-type(odd) {
  background: #f4f4f4;
}

.background-image-holder,
.foreground-image-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  z-index: 0;
  background-position: 50% 50% !important;
}

.background-image-holder.parallax-background {
  height: 120%;
  top: -10%;
}

.feature-icon-large i {
  display: block;
  height: 104px;
  width: 104px;
  border: 2px solid #fff;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 40px;
  padding-top: 31px;
  margin-bottom: 32px;
}

.image-divider .feature-icon-large i {
  border-color: #fff;
  color: #fff;
}

img {
  max-width: 100%;
}

.icon-jumbo {
  color: $primary;
  text-align: center;
  font-size: 64px !important;
  margin-bottom: 24px;
}

.image-divider.overlay::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  content: '';
  opacity: 0.3;
  z-index: 2;
  background-color: #333;
}

// Fonts
body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: italic;
}

h1,
h2,
h3,
h4 {
  font-family: 'Victor Mono', monospace;
}

.super-lead {
  font-family: 'Victor Mono', monospace;
}

// NOTE: This should already be working as default from the theme, but it is not...
.btn-rounded {
  -webkit-border-radius: 10em !important;
  border-radius: 10em !important;
}
