<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
      <div style="display: inline-block; clear: both; width: 100%">
        <div class="completion">
          <div class="feature">
            <div class="h5">Visited</div>
            <p class="focus-number">{{ visitedStates }}</p>
            <small class="focus-subtext">OF 50</small>
          </div>
        </div>
        <ul class="legend">
          <h2 class="h4">
            <li>
              <div class="legend-visited"></div>
              States Visited
            </li>
          </h2>
        </ul>
      </div>
      <google-chart [data]="geoChartData" *ngIf="geoChartData"></google-chart>
    </div>
  </div>
</div>
