@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

.instafeed img {
  height: auto;
  padding: 10px;
  transition: all 0.4s ease;
}

.instafeed img:hover {
  opacity: 0.6;
  transition: all 0.4s ease;
}

.instafeed-section {
  padding-top: 40px;
  padding-bottom: 0;
}

.jumbo-icon {
  display: inline-block;
  color: #01a2a6;
  text-align: center;
  font-size: 64px;
  margin-bottom: 24px;
}
