<app-full-page-header></app-full-page-header>

<div>
  <section>
    <app-github></app-github>
  </section>

  <app-books></app-books>

  <app-music></app-music>

  <section class="podcast-section">
    <app-podcasts></app-podcasts>
  </section>

  <section class="image-divider2 overlay2 duplicatable-content">
    <app-tv></app-tv>
  </section>

  <section>
    <app-states></app-states>
  </section>

  <section>
    <app-countries></app-countries>
  </section>

  <section class="image-divider2 overlay2 duplicatable-content">
    <app-driving></app-driving>
  </section>

</div>

<!--
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1 text-center">
        <i class="icon-jumbo fa fa-twitter"></i>
        <p>Follow <strong><a href="https://twitter.com/schulzetenberg">@schulzetenberg</a></strong> on Twitter</p>
        <div id="tweets"></div>
      </div>
    </div>
  </div>
</section>
-->

<section class="instafeed-section">
  <app-instagram></app-instagram>
</section>


<app-footer></app-footer>
