<app-full-page-header></app-full-page-header>

<div>
  <section>
    <app-github></app-github>
  </section>

  <app-books></app-books>
  <section>
    <app-recent-books></app-recent-books>
  </section>

  <app-music></app-music>
  <section>
    <app-top-artists></app-top-artists>
  </section>

  <section>
    <app-podcasts></app-podcasts>
  </section>

  <section class="image-divider2 overlay2 duplicatable-content">
    <app-tv></app-tv>
  </section>

  <section>
    <app-states></app-states>
  </section>

  <section>
    <app-countries></app-countries>
  </section>

  <section class="parks-section">
    <app-parks></app-parks>
  </section>

  <section class="image-divider2 overlay2 duplicatable-content">
    <app-driving></app-driving>
  </section>
</div>

<section>
  <app-allocations></app-allocations>
</section>

<section class="instafeed-section">
  <app-instagram></app-instagram>
</section>

<app-footer></app-footer>
