<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"><!-- InstanceBegin template="/Templates/Fullscreen Nav & Social Footer.dwt" codeOutsideHTMLIsLocked="false" --> <!--<![endif]-->
<head>
        <meta charset="utf-8">
        <!-- InstanceBeginEditable name="Head" -->
        <title>Portfolio - Jacob Schulzetenberg</title>
        <meta name="description" content="Personal portfolio">
        <!-- InstanceEndEditable -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/line-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/theme-aquatica.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/custom.css" rel="stylesheet" type="text/css" media="all"/>
        <!--[if gte IE 9]>
        	<link rel="stylesheet" type="text/css" href="css/ie9.css" />
		<![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
        <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <link href="http://fonts.googleapis.com/css?family=Cardo:400,400italic" rel="stylesheet" type="text/css">
        <link href="css/font-cardo.css" rel="stylesheet" type="text/css">
        
<!-- Google Analytics-->        
	<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-64525048-1', 'auto');
      ga('send', 'pageview');
    </script> 
    
    
    
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
$(window).load(function() {
	$(".loader").fadeOut("slow");
})
</script>       
    </head>

    <body>
    	<div class="loader">
    	</div>
				
	<div class="nav-container">
			<nav class="fullscreen-nav top-bar overlay-bar">

				<div class="container">
					<div class="row">
						<div class="col-sm-12">
						</div>
					</div>
				</div>	
			
				<div class="fullscreen-nav-toggle">
					<i class="icon icon_menu"></i>
					<i class="icon icon_close"></i>
				</div>
				
				<div class="fullscreen-nav-container">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<a href="index.html">
									<img class="logo" alt="Logo" src="img/icon white.png">
								</a>
								<ul class="menu">
									<li><a href="index.html">Home</a></li>
                                    <li><a href="projects.html">Projects</a></li>
									<li><a href="http://blog.schulzetenberg.com" target="new">Blog</a></li>	
									<li><a href="resume.html">Resume</a></li>
									<li><a href="about.html">About</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>	
			</nav>
		</div>
		<!-- InstanceBeginEditable name="Body" -->
        <div class="main-container">
			<header class="page-header resume-header">
				<div class="background-image-holder parallax-background">
					<img class="background-image" alt="Background Image" src="img/hero8 small.jpg">
				</div>
				
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h1 class="text-white space-bottom-medium">Jacob Schulzetenberg</h1>
							<span>Software &amp; Technology Enthusiest</span>
							<ul class="social-icons">							
								<li>
									<a href="http://www.linkedin.com/in/schulzetenberg" target="new">
										<i class="icon social_linkedin_square"></i>
									</a>
								</li>
                                
                                <li>
									<a href="http://blog.schulzetenberg.com" target="new">
										<i class="icon social_wordpress_square" ></i>
									</a>
								</li>
                                <li>
									<a href="http://www.instagram.com/schulzetenberg" target="new">
										<i class="icon social_instagram" ></i>
									</a>
								</li>
                                <li>
									<a href="https://twitter.com/schulzetenberg" target="new">
										<i class="icon social_twitter"></i>
									</a>
								</li>
                                <li>
									<a href="https://play.spotify.com/user/1210741906" target="new">
										<i class="icon social_spotify"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</header>
			
			<section class="timeline-1">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
							<h1>Career Timeline</h1>
							<p class="lead">Chronological education and professional experience</p>	
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-12">
							<div class="timeline-event">
								<div class="col-sm-6 col-md-push-6">
									<h2>2010</h2>
									<h5>Started college</h5>
								</div>
								
								<div class="middle">
									<i class="icon icon-telescope"></i>
									<div class="vertical-line"></div>
								</div>
								
								<div class="col-sm-6 col-md-pull-6">
									<p>Bachelor of Science,<br>Electrical Engineering<br>North Dakota State University<br>Fargo, ND</p>
								</div>
							</div>
							
							<div class="timeline-event">
								<div class="col-sm-6">
									<h2>2013</h2>
									<h5>Summer Internship</h5>	
								</div>
								
								<div class="middle">
									<i class="icon icon_desktop"></i>
									<div class="vertical-line"></div>
								</div>
								
								<div class="col-sm-6">
									<p>Implementation Consultant Intern<br>Fast Enterprises<br>St Paul, MN</p>
								</div>
							</div>
							
							<div class="timeline-event">
								<div class="col-sm-6 col-md-push-6">
									<h2>2014</h2>
									<h5>Attained Degree</h5>
								</div>
								
								<div class="middle">
									<i class="icon icon_document"></i>
									<div class="vertical-line"></div>
								</div>
								
								<div class="col-sm-6 col-md-pull-6">
									<p>Electrical Engineering, <br>Emphasis in Computer Engineering<br>North Dakota State University<br>Fargo, ND</p>
								</div>
							</div>
						  <div class="timeline-event">
							  <div class="col-sm-6">
							    <h2>2014</h2>
							    <h5>Started Career</h5>
						      </div>
							  <div class="middle"> <i class="icon icon-briefcase"></i>
							    <div class="vertical-line"></div>
						      </div>
							  <div class="col-sm-6">
							    <p>Implementation Consultant<br> Fast Enterprises<br> Denver, CO</p>
						      </div>
							</div>
							<div class="timeline-event">
							  <div class="col-sm-6 col-md-push-6">
							    <h2>May 2015</h2>
							    <h5>Contract Job</h5>
						      </div>
							  <div class="middle"> <i class="icon icon_laptop"></i>
							    <div class="vertical-line"></div>
						      </div>
							  <div class="col-sm-6 col-md-pull-6">
							    <p>Software QA Engineer<br>
					             Shane Co.<br> Denver, CO<br></p>
						      </div>
						 	</div>
                          	<div class="timeline-event">
							  <div class="col-sm-6">
							    <h2>July 2015</h2>
							    <h5>New Job</h5>
						      </div>
							  <div class="middle"> <i class="icon icon-streetsign"></i>
							    <div class="vertical-line"></div>
						      </div>
							  <div class="col-sm-6">
							    <p>Software Development Engineer<br>Comcast<br> Denver, CO</p>
						      </div>
						  </div>
						</div>
					</div>
				</div>
			</section>
			
			<section class="skill-bars">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
							<h1>Skills &amp; Expertise</h1>
							<p class="lead">Ability to use critical thinking to solve intricate problems 
                            <br>Excellent verbal and written communication skills
                            <br>Willingness to learn new skills and adapt as needed
                            <br>Strong attention to detail
                            <br>Reliable and organized
                            <br>Time management proficiency<br></p>	
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="skills-left skills">
								<h3>Software</h3>
								<ul class="skills-ul">
									<li>
										<span>Microsoft Visual Studio </span>
										<div class="skill-bar-holder">
											<div class="skill-capacity col-xs-11"></div>
										</div>
									</li>
									
									<li>
										<span>Microsoft SQL Server</span>
										<div class="skill-bar-holder">
											<div class="skill-capacity col-xs-9"></div>
										</div>
									</li>
									
									<li>
										<span>Microsoft Office</span>
										<div class="skill-bar-holder">
											<div class="skill-capacity col-xs-7"></div>
										</div>
									</li>
									
									<li>
										<span>Microsoft Visio</span>
										<div class="skill-bar-holder">
											<div class="skill-capacity col-xs-6"></div>
										</div>
									</li><li>
										<span>Adobe Dreamweaver</span>
										<div class="skill-bar-holder">
											<div class="skill-capacity col-xs-5"></div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						
						<div class="col-md-6 col-sm-12">
							<div class="skills-right skills">
								<h3>Programming</h3>
								<ul class="skills-ul">
									<li>
										<span>.NET (C#,VB)</span>
										<div class="skill-bar-holder">
											<div class="skill-capacity col-xs-11"></div>
										</div>
									</li>
                                    									
									<li>
										<span>SQL </span>
										<div class="skill-bar-holder">
											<div class="skill-capacity col-xs-7"></div>
										</div>
									</li>
                                    
                                    <li>
										<span>HTML/CSS/JS</span>
										<div class="skill-bar-holder">
											<div class="skill-capacity col-xs-5"></div>
										</div>
									</li><li>
										<span>Java</span>
										<div class="skill-bar-holder">
											<div class="skill-capacity col-xs-4"></div>
										</div>
									</li><li>
										<span>C++ </span>
										<div class="skill-bar-holder">
											<div class="skill-capacity col-xs-3">
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
            
		<section class="text-image-bottom">
				<div class="container">
					<div class="row">
						<div class="text-center">
                            <div class="icon-link-large">
                                <a href="Resume.pdf" target="_blank"><i feature-icon-large class="icon_document"></i></a>
                                </div>
                                <br><br>
                            <h3>View Resume</h3>
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-6"></div>
						</div>
					</div>
				
				<div class="text-center">
					<img alt="mountain logo" src="img/mountain-3-512.png">
				</div>
			</section>
		</div>
		<!-- InstanceEndEditable -->
		<div class="footer-container">	
			<footer class="social bg-secondary-1">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1 class="text-teal">Get In Touch</h1>
							<a href="mailto:Jacob.Schulzetenberg@gmail.com" class="text-white" target="default"><strong>Jacob.Schulzetenberg@gmail.com</strong></a><br>
							<ul class="social-icons">
								<li>
									<a href="http://www.linkedin.com/in/schulzetenberg" target="default">
										<i class="icon social_linkedin"></i>
									</a>
								</li>
								<li>
									<a href="http://blog.schulzetenberg.com" target="default">
										<i class="icon social_wordpress"></i>
									</a>
								</li>
								<li>
									<a href="https://www.instagram.com/schulzetenberg" target="default">
										<i class="icon social_instagram"></i>
									</a>
								</li>
                                <li>
									<a href="https://twitter.com/schulzetenberg" target="default">
										<i class="icon social_twitter"></i>
									</a>
								</li>
								<li>
									<a href="https://play.spotify.com/user/1210741906" target="default">
										<i class="icon social_spotify"></i>
									</a>
								</li>
							</ul><br>
							<span class="sub">© Copright 2015 Jacob Schulzetenberg&nbsp;- All Rights Reserved</span>
						</div>
					</div>
				</div>
		  </footer>
	</div>		
		<script src="https://www.youtube.com/iframe_api"></script>
		<script src="js/jquery.min.js"></script>
        <script src="js/jquery.plugin.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.flexslider-min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/skrollr.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/scrollReveal.min.js"></script>
        <script src="js/isotope.min.js"></script>
        <script src="js/twitterFetcher_v10_min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/jquery.countdown.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
<!-- InstanceEnd --></html>
				