@import '../../../assets/scss/shadow.mixin';

.instafeed img {
  height: auto;
	transition: all 0.4s ease;
	border-radius: 5px;
  @include shadow(3);
}

.instafeed img:hover {
  @include shadow(4);
  filter: saturate(130%);
  transition: all 0.4s ease;
}