<div class="row mt-4 mb-1">
  <div class="col">
    <p class="text-center">
      <a class="h4 mb-5" href="https://instagram.com/schulzetenberg">INSTA <i class="fa fa-instagram"></i> GRAM</a>
    </p>
  </div>
</div>

<div class="container pb-3">
  <div class="row row-centered mx-3 mb-5 instafeed" *ngIf="instagramData$ | async as instagramData">
    <div class="col-3 col-md-2 my-3" *ngFor="let image of instagramData.images; trackBy: imgUrl">
      <a [href]="image.postUrl" target="_blank">
        <img loading="lazy" class="podcast-img" [title]="image.caption" [alt]="'View image on instagram: ' + image.caption" [src]="image.imgUrl" />
      </a>
    </div>
  </div>
</div>
