@import '../../../assets/scss/shadow.mixin';

.instafeed img {
  height: auto;
  transition: all 0.4s ease;
  @include shadow(3);
}

.instafeed img:hover {
  @include shadow(4);
  filter: saturate(130%);
  transition: all 0.4s ease;
}

.instafeed ul {
  overflow: hidden;
  margin: 0;
  list-style: none;
  padding: 0;
}

.instafeed ul li {
  float: left;
  width: 16.666667%;
  padding: 10px;
  padding-bottom: 30px;
}
