<header>
  <nav class="z-[1] relative flex flex-wrap items-center content-between py-3 px-4 text-black">
    <div class="flex flex-row mx-auto order-2 lg:order-3">
      <ul class="flex flex-wrap list-reset pl-0 mb-0 flex-row">
        <li>
          <a class="nav-link inline-block py-2 px-4 no-underline" href="https://www.linkedin.com/in/schulzetenberg" target="default">
            <i class="fa fa-2x fa-linkedin-square" aria-label="LinkedIn Icon"></i>
            <span class="sr-only">Navigate to LinkedIn profile</span>
          </a>
        </li>
        <li>
          <a class="nav-link inline-block py-2 px-4 no-underline" href="https://www.instagram.com/schulzetenberg" target="default">
            <i class="fa fa-2x fa-instagram" aria-label="Instagram Icon"></i>
            <span class="sr-only">Navigate to Instagram profile</span>
          </a>
        </li>
        <li>
          <a class="nav-link inline-block py-2 px-4 no-underline" href="https://open.spotify.com/user/waterland15" target="default">
            <i class="fa fa-2x fa-spotify" aria-label="Spotify Icon"></i>
            <span class="sr-only">Navigate to Spotify profile</span>
          </a>
        </li>
        <li>
          <a class="nav-link inline-block py-2 px-4 no-underline" href="https://github.com/schulzetenberg" target="default">
            <i class="fa fa-2x fa-github-square" aria-label="Github Icon"></i>
            <span class="sr-only">Navigate to Github profile</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="view">
    <div class="full-bg-img">
      <div class="mask blue-light flex-center">
        <div class="container mx-auto sm:px-4 text-white text-center">
          <img id="headshot" class="inline mb-5" #headshot alt="headshot" src="assets/img/profile-cartoon-crop.jpg" aria-hidden="true" />
          <h1 #h1 class="h2 pb-2">
            <div>I am Jacob Schulzetenberg</div>
          </h1>
          <h2 #h2 class="h6">
            <div>
              A software engineer with an interest in <br />
              web development, analytics, and finance
            </div>
          </h2>
        </div>
      </div>
    </div>
  </div>
</header>
