<section class="image-divider overlay duplicatable-content" *ngIf="githubData">
  <div class="background-image-holder parallax-background skrollable skrollable-between"
    style="transform: translate3d(0px, -31.9658px, 0px); background: url(assets/img/computer.jpg) 50% 0%;"
    data-bottom-top="-webkit-transform: translate3d(0px,-100px, 0px)"
    data-center="-webkit-transform: translate3d(0px,0px, 0px)"
    data-top-bottom="-webkit-transform: translate3d(0px,100px, 0px)">
    <img class="background-image" alt="Background Image" src="assets/img/computer.jpg" style="display: none;">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h1 class="text-white">Github</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-lg-offset-2">
        <div class="feature feature-icon-large">
          <i class="text-white fa fa-code"></i>
          <h5 class="text-white">Public Repos</h5>
          <p class="text-white" [innerHtml]="githubData && githubData.repos"></p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="feature feature-icon-large">
          <i class="text-white fa fa-user-circle-o"></i>
          <h5 class="text-white">Followers</h5>
          <p class="text-white" [innerHtml]="githubData && githubData.followers.length"></p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="feature feature-icon-large">
          <i class="text-white fa fa-user-circle"></i>
          <h5 class="text-white">Following</h5>
          <p class="text-white" [innerHtml]="githubData && githubData.following.length"></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <a href="https://github.com/schulzetenberg">
          <i style="color: white; opacity:0.8;" onMouseOut="this.style.opacity='0.8'" onMouseOver="this.style.opacity='1'" class="fa fa-github-square icon-jumbo" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="hidden-xs" *ngIf="svg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Contributions</h1>
        <div class="svg" [innerHTML]="svg"></div>
      </div>
    </div>
  </div>
</section>
