<div class="container">
  <h2 class="h1 mb-5 text-center">Github</h2>
  <div class="row">
    <div class="col-lg-4 offset-lg-1">
      <div class="feature" *ngIf="githubData$ | async as githubData">
        <h3 class="h5">Contributions</h3>
        <p class="focus-number">{{ githubData.contributions }}</p>
        <small class="focus-subtext">PAST YEAR</small>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="feature" *ngIf="githubData$ | async as githubData">
        <h3 class="h5">Public Repos</h3>
        <p class="focus-number">{{ githubData.publicRepos }}</p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="feature" *ngIf="githubData$ | async as githubData">
        <h3 class="h5">Private Repos</h3>
        <p class="focus-number">{{ githubData.privateRepos }}</p>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-12 text-center">
      <h3 class="h5 mb-0">Contributions</h3>
      <div class="svg px-lg-5" *ngIf="githubData$ | async as githubData" [innerHTML]="sanitizer.bypassSecurityTrustHtml(githubData && githubData.contribSvg)"></div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-sm-12 text-center">
      <a href="https://github.com/schulzetenberg">
        <i
          style="margin-bottom: 0; color: black; opacity: 0.7"
          onMouseOut="this.style.opacity='0.7'"
          aria-label="Github icon"
          onMouseOver="this.style.opacity='1'"
          class="fa fa-github-square icon-jumbo"
          aria-hidden="true"
        ></i>
        <span class="sr-only">Navigate to Github profile</span>
      </a>
    </div>
  </div>
</div>
