<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="mb-5">Github</h2>
      <h5 *ngIf="githubData$ | async as githubData">{{ githubData.repos }} Public Repos</h5>
      <div class="svg" *ngIf="githubData$ | async as githubData" [innerHTML]="sanitizer.bypassSecurityTrustHtml(githubData && githubData.contribSvg)"></div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-12 text-center">
      <a href="https://github.com/schulzetenberg">
        <i style="margin-bottom: 0; color: black; opacity:0.7;" onMouseOut="this.style.opacity='0.7'" onMouseOver="this.style.opacity='1'"
            class="fa fa-github-square icon-jumbo" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
