<section>
  <div class="container">
    <div class="row" id="states">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
        <div style="display:inline-block;clear:both;width:100%;">
          <div id="completion">
            <h1 id="percent"></h1>
            <h5>
              <span id="visitedStates"></span>/<span id="totalStates"></span> States
            </h5>
          </div>
          <ul id="legend">
            <h5>
              <li><div id="legend-visited"></div> Visited</li>
              <li><div id="legend-temporary"></div> Lived</li>
              <li><div id="legend-never"></div> Unvisited</li>
            </h5>
          </ul>
        </div>
        <div id="regionsDiv"></div>
      </div>
    </div>
  </div>
</section>
