@import "../../../assets/scss/site-defaults";

#completion {
  border: 2px solid $primary;
  border-radius: 100px;
  float: left;
  margin: 20px;
  padding: 20px;
  height: 140px;
  width: 140px;
}

#completion h1 {
  font-size: 45px;
  margin-bottom: 0;
  padding-top: 15px;
}

#completion h5 {
  font-size: 16px;
  color: #58535b;
}

#legend {
  float: right;
  list-style-type: none;
  margin: 40px 20px;
  padding: 15px;
}

#legend li {
  text-align: left;
}

#legend-visited,
#legend-temporary,
#legend-never {
  display: inline-block;
  height: 15px;
  width: 15px;
  border: thin solid #191919;
}

#legend-visited {
  background: #433e47;
}

#legend-temporary {
  background: #79757b;
}

#legend-never {
  background: #f4f4f4;
}
