// Initial code from: https://www.codehemu.com/2022/04/css-postage-stamp.html

.stamp {
  box-sizing: content-box;
  width: 140px;
  height: 140px;
  display: inline-block;
  padding: 10px;
  background: white;
  position: relative;
  -webkit-filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.3));
  /* The stamp cutout will be created using crisp radial gradients */
  background: radial-gradient(transparent 0px, transparent 4px, white 4px, white);

  /* reducing the gradient size */
  background-size: 20px 20px;
  /* Offset to move the holes to the edge */
  background-position: -10px -10px;
}

.stamp:after {
  content: '';
  position: absolute;
  /* We can shrink the pseudo element here to hide the shadow edges */
  left: 5px;
  top: 5px;
  right: 5px;
  bottom: 5px;
  /* pushing it back */
  z-index: -1;
}

/*Some text*/
.stamp-label {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  text-shadow: black 0px 0px 10px;
  padding: 10px 20px;
}
.stamp img {
  height: inherit;
  width: inherit;
  object-fit: cover;
}
