<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 text-center">
        <h1>Podcast Subscriptions</h1>
      </div>
    </div>
    <div class="row row-centered" style="min-height: 300px" *ngIf="podcastData$ | async as podcastData">
      <div class="col-4 col-md-2 my-3" *ngFor="let podcast of podcastData.podcasts">
        <a [href]="podcast.htmlUrl" target="_blank">
          <img class="podcast-img" [title]="podcast.title" [src]="podcast.imgUrl" onerror="this.src='assets/img/podcast-default.png'" />
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <a href="https://player.fm/waterland15/fm">
          <i
            style="font-size: 56px; margin-top: 30px; color: black; opacity: 0.7"
            onMouseOut="this.style.opacity='0.7'"
            onMouseOver="this.style.opacity='1'"
            class="fa fa-microphone icon-jumbo"
            aria-hidden="true"
          ></i>
        </a>
      </div>
    </div>
  </div>
</section>
