@import '../../../assets/scss/shadow.mixin';

.podcast-img {
	background-color: white;
	border-radius: 5px;
  @include shadow(1);
  transition: all 0.4s ease;
}

.podcast-img:hover {
  filter: saturate(130%);
  @include shadow(3);
  transition: all 0.4s ease;
}
