.top-artists-header{
	z-index: 2;
	position: relative;
	margin-top: 1em;

	span {
		border-radius: 0 30px 30px 0;
		background-color: #433e47;
		color: white;
		font-family: 'Rock Salt', cursive;
		padding-left: 2em;
    padding-right: 1.25em;
	}
}
