<section class="image-divider2 overlay2 duplicatable-content">
  <div class="background-image-holder" style="background: url(assets/img/concert.jpg) 50% 0%"></div>

  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 text-center">
        <h1 class="text-white">Music</h1>
      </div>
    </div>

    <div class="row" *ngIf="musicData">
      <div class="col-lg-2 offset-lg-1">
        <div class="h5 text-white">
          <i class="text-white fa fa-circle"></i>
          Average Daily Listening
        </div>
        <p class="text-white" [innerHTML]="(avgListening | number) + ' Hours'"></p>
      </div>
      <div class="col-lg-2">
        <div class="h5 text-white">
          <i class="text-white fa fa-circle"></i>
          Songs Listened To
        </div>
        <p class="text-white" [innerHTML]="(totalListening | number) + pastYear"></p>
      </div>
      <div class="col-lg-2">
        <div class="h5 text-white">
          <i class="text-white fa fa-circle"></i>
          Artists Listened To
        </div>
        <p class="text-white" [innerHTML]="(totalArtists | number) + pastYear"></p>
      </div>
      <div class="col-lg-2">
        <div class="h5 text-white">
          <i class="text-white fa fa-circle"></i>
          Top Artists
        </div>
        <p class="text-white" [innerHTML]="artistsList"></p>
      </div>
      <div class="col-lg-2">
        <div class="h5 text-white">
          <i class="text-white fa fa-circle"></i>
          Top Genres
        </div>
        <p class="text-white" [innerHTML]="genresList"></p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 text-center">
        <a href="https://www.last.fm/user/JSchulzetenberg">
          <i
            style="color: white; opacity: 0.8"
            onMouseOut="this.style.opacity='0.8'"
            onMouseOver="this.style.opacity='1'"
            class="fa fa-lastfm-square icon-jumbo"
            aria-label="LastFM icon"
          ></i>
          <span class="sr-only">Navigate to LastFM profile</span>
        </a>
      </div>
    </div>
  </div>
</section>
