{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-prettier"
  ],
  "ignoreFiles": [],
  "rules": {
    # Override defaults
    "no-empty-source": null,
    "selector-type-no-unknown": [true, { ignoreTypes: [
      "fa-icon"
    ]}],
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": [
        "last",
        "extend",
        "at-root",
        "debug",
        "warn",
        "error",
        "if",
        "else",
        "for",
        "each",
        "while",
        "mixin",
        "include",
        "content",
        "return",
        "function"
      ]
    }]
  }
}
