<ul id="menu" class="d-none d-lg-block">
  <li data-menuanchor="github"><a href="#github">Github</a></li>
  <li data-menuanchor="book-stats"><a href="#book-stats">Book Stats</a></li>
  <li data-menuanchor="recently-read"><a href="#recently-read">Recently Read</a></li>
  <li data-menuanchor="music-stats"><a href="#music-stats">Music Stats</a></li>
  <li data-menuanchor="top-artists"><a href="#top-artists">Top Artists</a></li>
  <li data-menuanchor="podcasts"><a href="#podcasts">Podcasts</a></li>
  <li data-menuanchor="tv"><a href="#tv">TV</a></li>
  <li data-menuanchor="states"><a href="#states">States</a></li>
  <li data-menuanchor="countries"><a href="#countries">Countries</a></li>
  <li data-menuanchor="driving"><a href="#driving">Driving</a></li>
  <li data-menuanchor="instagram"><a href="#instagram">Instagram</a></li>
  <li data-menuanchor="contact"><a href="#contact">Contact</a></li>
</ul>

<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
  <div class="section">
    <app-github></app-github>
  </div>
  <div class="section">
    <app-books></app-books>
  </div>
  <div class="section">
    <app-recent-books></app-recent-books>
  </div>
  <div class="section">
    <app-music></app-music>
  </div>
  <div class="section">
    <app-top-artists></app-top-artists>
  </div>

  <div class="section">
    <app-podcasts></app-podcasts>
  </div>

  <div class="section">
    <app-tv></app-tv>
  </div>

  <div class="section">
    <app-states></app-states>
  </div>

  <div class="section">
    <app-countries></app-countries>
  </div>

  <div class="section">
    <app-driving></app-driving>
  </div>

  <div class="section">
    <app-instagram></app-instagram>
  </div>

  <div class="section">
    <app-footer></app-footer>
  </div>
</div>
