<ul id="menu">
  <li data-menuanchor="github"><a href="#github">Github</a></li>
  <li>
    Books
    <ul class="secondary-list">
      <li data-menuanchor="book-stats"><a href="#book-stats">Stats</a></li>
      <li data-menuanchor="recently-read"><a href="#recently-read">Recently Read</a></li>
    </ul>
  </li>
  <li>
    Music
    <ul class="secondary-list">
      <li data-menuanchor="music-stats"><a href="#music-stats">Stats</a></li>
      <li data-menuanchor="top-artists"><a href="#top-artists">Top Artists</a></li>
    </ul>
  </li>
</ul>

<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
  <div class="section">
    <app-github></app-github>
  </div>
  <div class="section">
    <app-books></app-books>
  </div>
  <div class="section">
    <app-recent-books></app-recent-books>
  </div>
  <div class="section">
    <app-music></app-music>
  </div>
  <div class="section">
    <app-top-artists></app-top-artists>
  </div>

  <div class="section">
    <div class="slide">Slide 2.1</div>
    <div class="slide">Slide 2.2</div>
    <div class="slide">Slide 2.3</div>
  </div>
  <div class="section" (click)="fullpage_api.moveTo('firstPage', 2)">Go to Top</div>
</div>
