<div class="container">
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      <div style="display: inline-block; clear: both; width: 100%">
        <div class="completion">
          <h1>{{ percentVisited }}</h1>
          <h5>{{ visitedCountries }} / 195 Countries</h5>
        </div>
        <ul class="legend">
          <h4>
            <li>
              <div class="legend-visited"></div>
              Countries Visited
            </li>
          </h4>
        </ul>
      </div>
      <google-chart [data]="geoChartData" (chartSelect)="select($event)"></google-chart>
    </div>
  </div>
</div>
