<div class="background-image-holder" style="background: url(assets/img/home11.jpg) 50% 0%"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2 text-center">
      <h2 class="h1 text-white">TV Watching</h2>
    </div>
  </div>

  <div class="row main-section-content">
    <div class="col-sm-12 col-lg-3">
      <div class="feature">
        <h5 class="text-white">Average Daily TV Show Viewing</h5>
        <p class="text-white focus-number" [innerHtml]="avgTv"></p>
        <small class="text-white focus-subtext">MINUTES</small>
      </div>
    </div>
    <div class="col-sm-12 col-lg-3">
      <div class="feature">
        <h5 class="text-white">Average Daily Movie Viewing</h5>
        <p class="text-white focus-number" [innerHtml]="avgMovies"></p>
        <small class="text-white focus-subtext">MINUTES</small>
      </div>
    </div>
    <div class="col-sm-12 col-lg-3">
      <div class="feature">
        <h5 class="text-white">Favorite Movies</h5>
        <p class="text-white" [innerHtml]="topMoviesList"></p>
      </div>
    </div>
    <div class="col-sm-12 col-lg-3">
      <div class="feature">
        <h5 class="text-white">Favorite TV Shows</h5>
        <p class="text-white" [innerHtml]="topShowsList"></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <a href="https://trakt.tv/users/waterland15">
        <img style="width: 48px; opacity: 0.8" alt="Trakt icon" onMouseOut="this.style.opacity='0.8'" onMouseOver="this.style.opacity='1'" src="assets/img/trakt.png" />
      </a>
    </div>
  </div>
</div>
