<div class="background-image-holder parallax-background skrollable skrollable-between"
  style="transform: translate3d(0px, -31.9658px, 0px); background: url(assets/img/tv.jpeg) 50% 0%;"
  data-bottom-top="-webkit-transform: translate3d(0px,-100px, 0px)"
  data-center="-webkit-transform: translate3d(0px,0px, 0px)"
  data-top-bottom="-webkit-transform: translate3d(0px,100px, 0px)">
  <img class="background-image" alt="Background Image" src="assets/img/tv.jpeg" style="display: none;">
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2 text-center">
      <h1 class="text-white">TV</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="feature feature-icon-large">
        <i class="text-white fa fa-television"></i>
        <h5 class="text-white">Average Daily TV Show Viewing</h5>
        <p class="text-white" [innerHtml]="avgTv"></p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="feature feature-icon-large">
        <i class="text-white fa fa-film"></i>
        <h5 class="text-white">Average Daily Movie Viewing</h5>
        <p class="text-white" [innerHtml]="avgMovies"></p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="feature feature-icon-large">
        <i class="text-white fa fa-heart"></i>
        <h5 class="text-white">Favorite Movies</h5>
        <p class="text-white" [innerHtml]="topMoviesList"></p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="feature feature-icon-large">
        <i class="text-white fa fa-heart"></i>
        <h5 class="text-white">Favorite TV Shows</h5>
        <p class="text-white" [innerHtml]="topShowsList"></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <a href="https://trakt.tv/users/waterland15">
         <img style="width: 48px; opacity:0.8;"
         onMouseOut="this.style.opacity='0.8'" onMouseOver="this.style.opacity='1'" src="assets/img/trakt.png">
      </a>
    </div>
  </div>
</div>
