@import '../../../assets/scss/shadow.mixin';

.img-media {
  cursor: pointer;
  width: 150px;
  height: 150px;
}

.btn-outline-indigo {
  border: 2px solid rgb(63, 81, 181);
  color: rgb(63, 81, 181);
  @include shadow(1);

  font-size: 0.7rem;
  padding: 0.5rem 1.5rem;
  transition: 0.4s ease;
  margin: 0.375rem;
  text-transform: uppercase;

  &:hover,
  &:active,
  &:focus {
    @include shadow(3);

    color: rgb(63, 81, 181);
  }
}
