<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="mb-5">Latest Software Projects</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-lg-9 col-xl-6">
      <div class="card mb-3">
        <h4 class="card-header text-center">Art on Repeat</h4>
        <div class="card-body">
          <div class="media d-block d-md-flex mt-4 mb-5">
            <img class="d-flex mb-md-0 mb-3 avatar-2 z-depth-1 mx-auto img-media" src="assets/img/art-on-repeat.jpg"
                (click)="openModal('aorModal')">
            <div class="media-body ml-md-3 ml-0">
              <p align="justify">
                Web application developed using Angular 6 and material design. Integrates with Spotify to create album
                art collages based on a user’s playlist.
              </p>
              <div class="text-center text-md-left">
                <a class="btn btn-rounded btn-outline-indigo btn-md" href="https://www.artonrepeat.com" target="_blank">
                  Visit Website
                </a>

                <div class="modal fade" id="aorModal" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-body">
                        <img class="d-flex mb-md-0 mb-3 avatar-2 z-depth-1 mx-auto" src="assets/img/art-on-repeat.jpg">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-10 col-lg-9 col-xl-6">
      <div class="card mb-3">
        <h4 class="card-header text-center">SpotifyXY</h4>
        <div class="card-body">
          <div class="media d-block d-md-flex mt-4 mb-4">
            <img class="d-flex mb-md-0 mb-3 avatar-2 z-depth-1 mx-auto img-media" src="assets/img/spotifyXY.jpg"
                (click)="openModal('sxyModal')">
            <div class="media-body ml-md-3 ml-0">
              <p align="justify">
                Cross platform Electron application running Angular with material design for the UI. Utilizes the
                Spotify API to perform advanced functions that are not supported in the Spotify desktop application.
              </p>
              <div class="text-center text-md-left">
                <a class="btn btn-rounded btn-outline-indigo btn-md" href="https://github.com/schulzetenberg/SpotifyXY"
                    target="_blank">
                  Read More
                </a>

                <div class="modal fade" id="sxyModal" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-body">
                        <img class="d-flex mb-md-0 mb-3 avatar-2 z-depth-1 mx-auto" src="assets/img/spotifyXY.jpg">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
