<% include ../partials/top-nav-header.html %>

<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rock+Salt'>

<div class="main-container" ng-app="myApp" ng-controller="aboutCtrl">
	<header class="page-header">
		<div class="background-image-holder parallax-background">
			<img class="background-image" alt="Background Image" src="img/About Background.jpg">
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-10">
					<h1 class="text-white">About&nbsp;</h1>
					<p class="text-white lead">I am Jacob Schulzetenberg. <br>
						A software engineer with a interest in <br>
						programming, technology, analytics, and finance.</p>
						<img class="circular" alt="Linked In" src="img/LinkedIn Jacob Schulzetenberg.jpg">
				</div>
			</div>
		</div>
	</header>

	<section class="duplicatable-content milestones">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
					<h1>Some Stats</h1>
					<p class="lead">(Past 3 Months)</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-sm-6 text-center">
					<div class="feature feature-icon-large">
						<a href="http://www.last.fm/user/waterland15">
							<i class="fa fa-music"></i>
						</a>
						<div class="pin-body"></div>
						<div class="pin-head"></div>
						<h5 ng-bind="::songCount"></h5>
						<h5><a href="http://www.last.fm/user/waterland15">Songs Listened To</a></h5>
						<span>LastFM</span>
						<span class="sub"></span>
					</div>
				</div>

				<div class="col-md-6 col-sm-6 text-center">
					<div class="feature feature-icon-large">
						<a href="https://www.goodreads.com/review/list/41826442-jacob?shelf=read">
							<i class="fa fa-book"></i>
						</a>
						<div class="pin-body"></div>
						<div class="pin-head"></div>
						<h5 ng-bind="::bookCount"></h5>
						<h5><a href="https://www.goodreads.com/review/list/41826442-jacob?shelf=read">Books Read</a></h5>
						<span>Goodreads</span>
						<span class="sub"></span>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="hidden-xs">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center" style="z-index: 1;">
						<h1 style="background-color: #01a2a6; border-radius: 40px; padding: 10px; max-width:230px">Top Artists</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div id="photostack" class="photostack">
						<div>
							<figure>
								<a class="photostack-img"><img src="http://img2-ak.lst.fm/i/u/174s/7274aee0133e495f927d6d421ce84136.png"/></a>
								<figcaption>
									<h2 class="photostack-title">Hillsong Young & Free</h2>
								</figcaption>
							</figure>
							<figure data-dummy>
								<a class="photostack-img"><img src="http://img2-ak.lst.fm/i/u/770x0/c959caa43a1043c099bac996eccd4f17.jpg"/></a>
								<figcaption>
									<h2 class="photostack-title">The Summer Set</h2>
								</figcaption>
							</figure>
							<figure data-dummy>
								<a class="photostack-img"><img src="http://img2-ak.lst.fm/i/u/770x0/60a4cb8205e8421bc2381fcbfae076c0.jpg"/></a>
								<figcaption>
									<h2 class="photostack-title">Sleeping With Sirens</h2>
								</figcaption>
							</figure>
							<figure data-dummy>
								<a class="photostack-img"><img src="http://img2-ak.lst.fm/i/u/174s/eb5236205e1e488899bdc52b7090476f.png"/></a>
								<figcaption>
									<h2 class="photostack-title">We Came As Romans</h2>
								</figcaption>
							</figure>
							<figure data-dummy>
								<a href="#" class="photostack-img"><img src="http://img2-ak.lst.fm/i/u/174s/1fe6c478ff994186b40bcecd1468993a.png"/></a>
								<figcaption>
									<h2 class="photostack-title">A Day to Remember</h2>
								</figcaption>
							</figure>
							<figure data-dummy>
								<a href="#" class="photostack-img"><img src="http://img2-ak.lst.fm/i/u/174s/cc6304fbf8c1d6a39bfad62e660b6b99.png"/></a>
								<figcaption>
									<h2 class="photostack-title">NF</h2>
								</figcaption>
							</figure>
							<figure data-dummy>
								<a href="#" class="photostack-img"><img src="http://img2-ak.lst.fm/i/u/174s/81179966b2804e8b8832a505553afe68.png"/></a>
								<figcaption>
									<h2 class="photostack-title">For All Those Sleeping</h2>
								</figcaption>
							</figure>
							<figure data-dummy>
								<a href="#" class="photostack-img"><img src="http://img2-ak.lst.fm/i/u/770x0/5679d6de42f7375d2118db756a87d8fd.jpg"/></a>
								<figcaption>
									<h2 class="photostack-title">One Direction</h2>
								</figcaption>
							</figure>
							<figure data-dummy>
								<a href="#" class="photostack-img"><img src="http://img2-ak.lst.fm/i/u/770x0/cfdfa17f57da4da98fecc580db864288.jpg"/></a>
								<figcaption>
									<h2 class="photostack-title">Two Door Cinema Club</h2>
								</figcaption>
							</figure>
							<figure data-dummy>
								<a href="#" class="photostack-img"><img src="http://img2-ak.lst.fm/i/u/770x0/958aa29ba65a4068995759b23f9416a7.jpg"/></a>
								<figcaption>
									<h2 class="photostack-title">Elevation Worship</h2>
								</figcaption>
							</figure>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section ng-controller="statesCtrl">
		<div class="container">
			<div class="row" id="states">
				<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
					<div style="display:inline-block;clear:both;width:100%;">
						<div id="completion">
							<h1 id="percent"></h1>
							<h5>
								<span id="visitedStates"></span>/<span id="totalStates"></span> States
							</h5>
						</div>
						<ul id="legend">
							<h5>
								<li><div id="legend-visited"></div> Visited</li>
								<li><div id="legend-temporary"></div> Lived</li>
								<li><div id="legend-never"></div> Unvisited</li>
							</h5>
						</ul>
					</div>
					<div id="regionsDiv"></div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h1>Github Stats</h1>
					<p class="lead">Public Repos: <span ng-bind="::repos"></span></p>
					<p class="lead hidden-xs">Contributions</p>
					<div class="hidden-xs" id="contribSvg"></div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
					<i class="icon-jumbo fa fa-twitter"></i>
					<p>Follow <strong><a href="https://twitter.com/schulzetenberg">@schulzetenberg</a></strong> on Twitter</p>
					<div id="tweets"></div>
				</div>
			</div>
		</div>
	</section>

	<section class="instagram-feed">
		<div class="container">
			<div class="row text-center">
				<span class="alt-font"><p><a href="https://instagram.com/schulzetenberg">Insta <i class="fa fa-instagram"></i> Gram</a></p></span>
			</div>
		</div>
		<div class="instafeed">
			<ul></ul>
		</div>
	</section>
</div>

<script src="app/controllers/about.js"></script>
<script src="https://www.google.com/jsapi"></script>
<script src="app/controllers/states.js"></script>
<script src="js/twitter-fetcher.js"></script>
<script src="js/spectragram.js"></script>

<script src="js/modernizr.min.js"></script>
<script src="js/photostack.js"></script>
<script>
	new Photostack( document.getElementById('photostack'));
</script>

<% include ../partials/footer.html %>
