<% include ../partials/top-nav-header.html %>

<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rock+Salt'>

<div id="skrollr-body" class="main-container" ng-app="myApp" ng-controller="aboutCtrl">
  <header class="page-header">
    <div class="background-image-holder parallax-background">
      <img class="background-image" alt="Background Image" src="img/About Background.jpg">
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-10">
          <h1 class="text-white">About&nbsp;</h1>
          <p class="text-white lead">I am Jacob Schulzetenberg. <br>
            A software engineer with a interest in <br>
            programming, technology, analytics, and finance.</p>
            <img class="circular" alt="Linked In" src="img/LinkedIn Jacob Schulzetenberg.jpg">
        </div>
      </div>
    </div>
  </header>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1>Github Stats</h1>
          <p class="lead">Public Repos: <span ng-bind="::repos"></span></p>
          <p class="lead">Contributions</p>
          <!--
          <div class="hidden-xs" ng-bind-html="contribSvg"></div>
          -->
          <iframe style="border-style:none; width: 100%; max-width:600px;" scrolling="no" height="190"
            src="http://song-of-github.herokuapp.com/?username=schulzetenberg&embeddable&playbutton">
          </iframe>
        </div>
      </div>
    </div>
  </section>

  <section class="image-divider overlay duplicatable-content">
    <div class="background-image-holder parallax-background skrollable skrollable-between"
    style="transform: translate3d(0px, -31.9658px, 0px); background: url(img/kindle.jpg) 50% 0%;"
    data-bottom-top="-webkit-transform: translate3d(0px,-100px, 0px)"
    data-center="-webkit-transform: translate3d(0px,0px, 0px)"
    data-top-bottom="-webkit-transform: translate3d(0px,100px, 0px)">
       <img class="background-image" alt="Background Image" src="img/kindle.jpg" style="display: none;">
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <h1 class="text-white">Books</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="feature feature-icon-large">
            <i class="text-white fa fa-book"></i>
            <h5 class="text-white">Books Read</h5>
            <p class="text-white" ng-bind="books.length + ' (Past 6 Months)'"></p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="feature feature-icon-large">
            <i class="text-white fa fa-file-text-o "></i>
            <h5 class="text-white">Pages Read</h5>
            <p class="text-white" ng-bind="pagesRead + ' (Past 6 Months)'"></p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="feature feature-icon-large">
            <i class="text-white fa fa-file-text-o "></i>
            <h5 class="text-white">Favorite Books</h5>
            <p class="text-white" ng-bind-html="topBooksList"></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <a href="https://www.goodreads.com/review/list/41826442-jacob?shelf=read">
             <img style="border: white; border-style: solid; width: 48px; opacity:0.8;"
             onMouseOut="this.style.opacity='0.8'" onMouseOver="this.style.opacity='1'" src="img/goodreads.ico">
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="aq-block light-wrapper">
    <div class="container">
      <div class="row row-centered" style="min-height: 300px; padding-top: 60px;">
          <div class="books">
              <div id="book1" class="book" ng-repeat="book in books">
                  <a ng-href="{{book.link}}">
                    <img title="{{book.title}}" ng-src="{{book.img}}" />
                  </a>
              </div>
          </div>
      </div>
    </div>
  </section>

  <section class="image-divider overlay duplicatable-content">
    <div class="background-image-holder parallax-background skrollable skrollable-between"
    style="transform: translate3d(0px, -31.9658px, 0px); background: url(img/computer.jpg) 50% 0%;"
    data-bottom-top="-webkit-transform: translate3d(0px,-100px, 0px)"
    data-center="-webkit-transform: translate3d(0px,0px, 0px)"
    data-top-bottom="-webkit-transform: translate3d(0px,100px, 0px)">
       <img class="background-image" alt="Background Image" src="img/computer.jpg" style="display: none;">
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <h1 class="text-white">Music</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-2 col-lg-offset-1">
          <div class="feature feature-icon-large">
            <i class="text-white fa fa-headphones"></i>
            <h5 class="text-white">Average Daily Listening</h5>
            <p class="text-white" ng-bind="(((lastFM.songCount / 365) * 3.5 / 60) | number:0) + ' Hours'"></p>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="feature feature-icon-large">
            <i class="text-white fa fa-music"></i>
            <h5 class="text-white">Songs Listened To</h5>
            <p class="text-white" ng-bind="lastFM.songCount + ' (Past Year)'"></p>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="feature feature-icon-large">
            <i class="text-white fa fa-user"></i>
            <h5 class="text-white">Artists Listened To</h5>
            <p class="text-white" ng-bind="lastFM.artistCount + ' (Past Year)'"></p>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="feature feature-icon-large">
            <i class="text-white fa fa-users"></i>
            <h5 class="text-white">Top Artists</h5>
            <p class="text-white" ng-bind-html="artistsList"></p>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="feature feature-icon-large">
            <i class="text-white fa fa-random"></i>
            <h5 class="text-white">Top Genres</h5>
            <p class="text-white" ng-bind-html="genresList"></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <a href="http://www.last.fm/user/waterland15">
            <i style="color: white; opacity:0.8;" onMouseOut="this.style.opacity='0.8'" onMouseOver="this.style.opacity='1'" class="fa fa-lastfm-square icon-jumbo" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row hidden-xs">
        <div class="col-sm-12">
          <div id="photostack" class="photostack">
            <div>
              <figure>
                <a class="photostack-img"><img ng-src="{{topArtist.img}}"/></a>
                <figcaption>
                  <h2 class="photostack-title" ng-bind="topArtist.artist"></h2>
                </figcaption>
              </figure>
              <figure data-dummy ng-repeat="artist in topArtists">
                <a href="#" class="photostack-img"><img ng-src="{{artist.img}}"/></a>
                <figcaption>
                  <h2 class="photostack-title" ng-bind="artist.artist"></h2>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="image-divider overlay duplicatable-content">
    <div class="background-image-holder parallax-background skrollable skrollable-between"
    style="transform: translate3d(0px, -31.9658px, 0px); background: url(img/tv.jpeg) 50% 0%;"
    data-bottom-top="-webkit-transform: translate3d(0px,-100px, 0px)"
    data-center="-webkit-transform: translate3d(0px,0px, 0px)"
    data-top-bottom="-webkit-transform: translate3d(0px,100px, 0px)">
       <img class="background-image" alt="Background Image" src="img/tv.jpeg" style="display: none;">
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <h1 class="text-white">TV</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="feature feature-icon-large">
            <i class="text-white fa fa-television"></i>
            <h5 class="text-white">Average Daily TV Show Viewing</h5>
            <p class="text-white" ng-bind="((trakt.stats.episodes.minutes / trakt.totalDays) | number:0) + ' Minutes'"></p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="feature feature-icon-large">
            <i class="text-white fa fa-film"></i>
            <h5 class="text-white">Average Daily Movie Viewing</h5>
            <p class="text-white" ng-bind="((trakt.stats.movies.minutes / trakt.totalDays) | number:0) + ' Minutes'"></p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="feature feature-icon-large">
            <i class="text-white fa fa-heart"></i>
            <h5 class="text-white">Favorite Movies</h5>
            <p class="text-white" ng-bind-html="topMoviesList"></p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="feature feature-icon-large">
            <i class="text-white fa fa-heart"></i>
            <h5 class="text-white">Favorite TV Shows</h5>
            <p class="text-white" ng-bind-html="topShowsList"></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <a href="https://trakt.tv/users/waterland15">
             <img style="width: 48px; opacity:0.8;"
             onMouseOut="this.style.opacity='0.8'" onMouseOver="this.style.opacity='1'" src="img/trakt.png">
          </a>
        </div>
      </div>
    </div>
  </section>

  <section ng-controller="statesCtrl">
    <div class="container">
      <div class="row" id="states">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
          <div style="display:inline-block;clear:both;width:100%;">
            <div id="completion">
              <h1 id="percent"></h1>
              <h5>
                <span id="visitedStates"></span>/<span id="totalStates"></span> States
              </h5>
            </div>
            <ul id="legend">
              <h5>
                <li><div id="legend-visited"></div> Visited</li>
                <li><div id="legend-temporary"></div> Lived</li>
                <li><div id="legend-never"></div> Unvisited</li>
              </h5>
            </ul>
          </div>
          <div id="regionsDiv"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="image-divider overlay duplicatable-content">
    <div class="background-image-holder parallax-background skrollable skrollable-between"
    style="transform: translate3d(0px, -31.9658px, 0px); background: url(img/utah.jpg) 50% 0%;"
    data-bottom-top="-webkit-transform: translate3d(0px,-50px, 0px)"
    data-center="-webkit-transform: translate3d(0px,0px, 0px)"
    data-top-bottom="-webkit-transform: translate3d(0px,50px, 0px)">
       <img class="background-image" alt="Background Image" src="img/utah.jpg" style="display: none;">
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <h1 class="text-white">Driving</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="feature feature-icon-large">
            <i class="text-white fa fa-car"></i>
            <h5 class="text-white">Average Daily Driving</h5>
            <p class="text-white" ng-bind="((car.totalMiles / car.totalDays) | number:0) + ' Miles'"></p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="feature feature-icon-large">
            <i class="text-white fa fa-map-o"></i>
            <h5 class="text-white">Total Miles Driven in 2017</h5>
            <p class="text-white" ng-bind="car.totalMiles + ' Miles'"></p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="feature feature-icon-large">
            <i class="text-white fa fa-calendar"></i>
            <h5 class="text-white">Days Per Barrel of Gas Used</h5>
            <p class="text-white" ng-bind="(car.daysPerBarrel | number:0) + ' Days'"></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <a href="http://www.fuelly.com/driver/waterland15">
             <img style="width: 48px; opacity:0.8;"
             onMouseOut="this.style.opacity='0.8'" onMouseOver="this.style.opacity='1'" src="img/gas-icon.png">
          </a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
          <i class="icon-jumbo fa fa-twitter"></i>
          <p>Follow <strong><a href="https://twitter.com/schulzetenberg">@schulzetenberg</a></strong> on Twitter</p>
          <div id="tweets"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="instagram-feed">
    <div class="container">
      <div class="row text-center">
        <span class="alt-font"><p><a href="https://instagram.com/schulzetenberg">Insta <i class="fa fa-instagram"></i> Gram</a></p></span>
      </div>
    </div>
    <div class="instafeed">
      <ul></ul>
    </div>
  </section>
</div>

<script src="app/controllers/about.js"></script>
<script src="https://www.google.com/jsapi"></script>
<script src="app/controllers/states.js"></script>
<script src="js/twitter-fetcher.js"></script>
<script src="js/spectragram.js"></script>

<script src="js/modernizr.min.js"></script>
<script src="js/photostack.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script>
<script type="text/javascript">
  var s = skrollr.init();
  if (s.isMobile()) {
    s.destroy();
  }
</script>

<% include ../partials/footer.html %>
