<% include ../partials/top-nav-header.html %>

<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rock+Salt'>

<div class="main-container" ng-app="myApp" ng-controller="aboutCtrl">
	<header class="page-header">
		<div class="background-image-holder parallax-background">
			<img class="background-image" alt="Background Image" src="img/About Background.jpg">
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-10">
					<h1 class="text-white">About&nbsp;</h1>
					<p class="text-white lead">I am Jacob Schulzetenberg. <br>
						A software engineer with a interest in <br>
						programming, technology, analytics, and finance.</p>
						<img class="circular" alt="Linked In" src="img/LinkedIn Jacob Schulzetenberg.jpg">
				</div>
			</div>
		</div>
	</header>

  <section class="aq-block light-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
          <h2 class="pull-left" style="background-color: #01a2a6; border-radius: 40px; padding: 10px; max-width:230px">
            <a href="https://www.goodreads.com/review/list/41826442-jacob?shelf=read" class="text-white">
              Books Read
            </a>
          </h2>
        </div>
      </div>
      <div class="row row-centered">
    		<div class="clients-2">
    			<div ng-repeat="book in books" class="col-md-2 col-sm-4 col-centered">
            <img width="98" max-height="151" src="{{book.img}}">
          </div>
        </div>
      </div>
    </div>
  </section>

	<section class="hidden-xs" style="padding-bottom:0px">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center" style="z-index: 1;">
					<h2 class="pull-left" style="background-color: #01a2a6; border-radius: 40px; padding: 10px; max-width:230px">
            Top Artists
          </h2>
					<h5 class="pull-right" style="background-color: #01a2a6; border-radius: 40px; padding: 10px; max-width:200px">
            Avg Daily Listening:<br>
            <i ng-bind="(((songCount / 90) * 3.5 / 60) | number:0) + ' Hours'"></i>
          </h5>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div id="photostack" class="photostack">
						<div>
							<figure>
								<a class="photostack-img"><img ng-src="{{topArtist.img}}"/></a>
								<figcaption>
									<h2 class="photostack-title" ng-bind="topArtist.artist"></h2>
								</figcaption>
							</figure>
							<figure data-dummy ng-repeat="artist in topArtists">
								<a href="#" class="photostack-img"><img ng-src="{{artist.img}}"/></a>
								<figcaption>
									<h2 class="photostack-title" ng-bind="artist.artist"></h2>
								</figcaption>
							</figure>
						</div>
					</div>
				</div>
			</div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <span style="color:#ffffff; background:#2f2933; z-index:1; font-family:monospace;" ng-bind="artistsList"></span>
        </div>
        <div class="col-sm-12 text-center">
          <a href="http://www.last.fm/user/waterland15">
            <i style="color: red; font-size:40px;" class="fa fa-lastfm-square" aria-hidden="true"></i>
          </a>
        </div>
      </div>
		</div>
	</section>

	<section ng-controller="statesCtrl">
		<div class="container">
			<div class="row" id="states">
				<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
					<div style="display:inline-block;clear:both;width:100%;">
						<div id="completion">
							<h1 id="percent"></h1>
							<h5>
								<span id="visitedStates"></span>/<span id="totalStates"></span> States
							</h5>
						</div>
						<ul id="legend">
							<h5>
								<li><div id="legend-visited"></div> Visited</li>
								<li><div id="legend-temporary"></div> Lived</li>
								<li><div id="legend-never"></div> Unvisited</li>
							</h5>
						</ul>
					</div>
					<div id="regionsDiv"></div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h1>Github Stats</h1>
					<p class="lead">Public Repos: <span ng-bind="::repos"></span></p>
          <p class="lead">Contributions</p>
          <!--
					<div class="hidden-xs" ng-bind-html="contribSvg"></div>
          -->
          <iframe style="border-style:none; width: 100%; max-width:600px;" scrolling="no" height="190"
            src="http://song-of-github.herokuapp.com/?username=schulzetenberg&embeddable&playbutton">
          </iframe>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
					<i class="icon-jumbo fa fa-twitter"></i>
					<p>Follow <strong><a href="https://twitter.com/schulzetenberg">@schulzetenberg</a></strong> on Twitter</p>
					<div id="tweets"></div>
				</div>
			</div>
		</div>
	</section>

	<section class="instagram-feed">
		<div class="container">
			<div class="row text-center">
				<span class="alt-font"><p><a href="https://instagram.com/schulzetenberg">Insta <i class="fa fa-instagram"></i> Gram</a></p></span>
			</div>
		</div>
		<div class="instafeed">
			<ul></ul>
		</div>
	</section>
</div>

<script src="app/controllers/about.js"></script>
<script src="https://www.google.com/jsapi"></script>
<script src="app/controllers/states.js"></script>
<script src="js/twitter-fetcher.js"></script>
<script src="js/spectragram.js"></script>

<script src="js/modernizr.min.js"></script>
<script src="js/photostack.js"></script>

<% include ../partials/footer.html %>
