<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"><!-- InstanceBegin template="/Templates/Fullscreen Nav & Social Footer.dwt" codeOutsideHTMLIsLocked="false" --> <!--<![endif]-->
<head>
        <meta charset="utf-8">
        <!-- InstanceBeginEditable name="Head" -->
        <title>Personal Projects</title>
        <meta name="description" content="">
        <!-- InstanceEndEditable -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/line-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/theme-aquatica.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/custom.css" rel="stylesheet" type="text/css" media="all"/>
        <!--[if gte IE 9]>
        	<link rel="stylesheet" type="text/css" href="css/ie9.css" />
		<![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
        <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <link href="http://fonts.googleapis.com/css?family=Cardo:400,400italic" rel="stylesheet" type="text/css">
        <link href="css/font-cardo.css" rel="stylesheet" type="text/css">
        
<!-- Google Analytics-->        
	<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-64525048-1', 'auto');
      ga('send', 'pageview');
    </script> 
    
    
    
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
$(window).load(function() {
	$(".loader").fadeOut("slow");
})
</script>       
    </head>

    <body>
    	<div class="loader">
    	</div>
				
	<div class="nav-container">
			<nav class="fullscreen-nav top-bar overlay-bar">

				<div class="container">
					<div class="row">
						<div class="col-sm-12">
						</div>
					</div>
				</div>	
			
				<div class="fullscreen-nav-toggle">
					<i class="icon icon_menu"></i>
					<i class="icon icon_close"></i>
				</div>
				
				<div class="fullscreen-nav-container">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<a href="index.html">
									<img class="logo" alt="Logo" src="img/icon white.png">
								</a>
								<ul class="menu">
									<li><a href="index.html">Home</a></li>
                                    <li><a href="projects.html">Projects</a></li>
									<li><a href="http://blog.schulzetenberg.com" target="new">Blog</a></li>	
									<li><a href="resume.html">Resume</a></li>
									<li><a href="about.html">About</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>	
			</nav>
		</div>
		<!-- InstanceBeginEditable name="Body" -->
        		<div class="main-container">
		<section class="no-pad-bottom projects-gallery">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
							<h1>Personal Projects</h1>
							<p class="lead">Software and hardware projects past to present</p>
						</div>
					</div>
				</div>
				
				<div class="projects-wrapper clearfix">
					<div class="container">
						<div class="row">
							<ul class="filters">
								<li data-filter="*" class="active"><span>All</span></li>
								<li data-filter=".branding"><span>Software</span></li>
								<li data-filter=".development"><span>Hardware</span></li>
								<li data-filter=".print"><span>Other</span></li>
							</ul>
						</div>
					</div>
					
					<div class="container">
						<div class="projects-container column-projects">
                        	<div class="col-md-4 col-sm-6 project branding image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Online Portfolio" src="img/7898132606_cac2a9e838_o.jpg">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>Online Portfolio </strong> Website</h3>
										<a href="website.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div>	
					
							<div class="col-md-4 col-sm-6 project branding image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Album Art Backgrounder" src="img/Album Art Backgrounder/1.png">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>Album Art Backgrounder </strong> Windows App</h3>
										<a href="albumart.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div>
							
							<div class="col-md-4 col-sm-6 project development image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Zoo Bird Call Display" src="img/Senior_Design/American Krestel.jpg">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>Zoo Bird Call Display</strong> Senior Project</h3>
										<a href="seniordesign.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div>			
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- InstanceEndEditable -->
		<div class="footer-container">	
			<footer class="social bg-secondary-1">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1 class="text-teal">Get In Touch</h1>
							<a href="mailto:Jacob.Schulzetenberg@gmail.com" class="text-white" target="default"><strong>Jacob.Schulzetenberg@gmail.com</strong></a><br>
							<ul class="social-icons">
								<li>
									<a href="http://www.linkedin.com/in/schulzetenberg" target="default">
										<i class="icon social_linkedin"></i>
									</a>
								</li>
								<li>
									<a href="http://blog.schulzetenberg.com" target="default">
										<i class="icon social_wordpress"></i>
									</a>
								</li>
								<li>
									<a href="https://www.instagram.com/schulzetenberg" target="default">
										<i class="icon social_instagram"></i>
									</a>
								</li>
                                <li>
									<a href="https://twitter.com/schulzetenberg" target="default">
										<i class="icon social_twitter"></i>
									</a>
								</li>
								<li>
									<a href="https://play.spotify.com/user/1210741906" target="default">
										<i class="icon social_spotify"></i>
									</a>
								</li>
							</ul><br>
							<span class="sub">© Copright 2015 Jacob Schulzetenberg&nbsp;- All Rights Reserved</span>
						</div>
					</div>
				</div>
		  </footer>
	</div>		
		<script src="https://www.youtube.com/iframe_api"></script>
		<script src="js/jquery.min.js"></script>
        <script src="js/jquery.plugin.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.flexslider-min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/skrollr.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/scrollReveal.min.js"></script>
        <script src="js/isotope.min.js"></script>
        <script src="js/twitterFetcher_v10_min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/jquery.countdown.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
<!-- InstanceEnd --></html>
				