<% include ../partials/top-nav-header.html %>

<div class="main-container">
  <header class="page-header">
    <div class="background-image-holder parallax-background">
      <img class="background-image" alt="Background Image" src="img/Senior_Design/American Krestel Cover.jpg">
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1 class="text-white">Zoo Bird Call Display</h1>
          <p class="lead text-white">Electrical & Computer Engineering</p>
          <p class="lead text-white">Senior Design Team Project</p>
        </div>
      </div>
    </div>
  </header>

  <section class="pure-text-centered">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-offset-2 text-center col-md-8">
          <span class="sub alt-font">Bird Call Display</span>
          <h1><strong>Project Description</strong></h1>
          <p class="lead">
          Objective: A non-touch sensor activated zoo display that triggers audibly heard bird calls correlated to a display of birds from the Red River Zoo and surrounding region.</p>
          <p> The bird call display was a suggested idea from the Red River Zoo. My senior design team consisting of Tom, Andrew and myself chose to tackle this project because the idea sounded challenging and fun, we would be contributing to a local non-profit who would be gracious for our contribution, and there were no hard requirements from the client which allowed us to get creative and build the display how we wanted. </p>
          <p>The main components of the bird call display are a durable waterproof enclosure, speaker, PIC microprocessor, audio player with microSD card, interchangeable poster, and PIR motion sensors.</p>
          <p>The details of how we created requirements, determined the best options, and built our final product can be found in the documents below.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
          <span class="sub alt-font">Bird call display</span>
          <h1><b>Image Gallery</b></h1>
        </div>
      </div>

      <div class="row">
        <div class="image-gallery lightbox-gallery-mrv">

          <div class="col-sm-8 veo">
            <div class="image-holder" data-scroll-reveal="enter bottom and move 30px">
              <a href="img/Senior_Design/Senior Design Project Group.jpg" data-lightbox="true" data-title="Donating the project to the Red River Zoo">
                <div class="background-image-holder">
                  <img class="background-image lightbox-image" alt="Donating the project to the Red River Zoo" src="img/Senior_Design/Senior Design Project Group crop.jpg">
                </div>
              </a>
            </div>
          </div>

          <div class="col-sm-4 veo">
            <div class="image-holder" data-scroll-reveal="enter bottom and move 30px">
              <a href="img/Senior_Design/1.png" data-lightbox="true" data-title="Bird call poster">
                <div class="background-image-holder">
                  <img class="background-image lightbox-image" alt="Bird call poster" src="img/Senior_Design/1.png">
                </div>
              </a>
            </div>
          </div>

          <div class="col-sm-4 veo">
            <div class="image-holder" data-scroll-reveal="enter bottom and move 30px">
              <a href="img/Senior_Design/2.jpg" data-lightbox="true" data-title="Demo day at NDSU">
                <div class="background-image-holder">
                  <img class="background-image lightbox-image" alt="Demo day at NDSU" src="img/Senior_Design/2.jpg">
                </div>
              </a>
            </div>
          </div>

          <div class="col-sm-4 veo">
            <div class="image-holder" data-scroll-reveal="enter bottom and move 30px">
              <a href="img/Senior_Design/3.jpg" data-lightbox="true" data-title="Our messy workstation">
                <div class="background-image-holder">
                  <img class="background-image lightbox-image" alt="Our messy workstation" src="img/Senior_Design/3.jpg">
                </div>
              </a>
            </div>
          </div>

          <div class="col-sm-4 veo">
            <div class="image-holder" data-scroll-reveal="enter bottom and move 30px">
              <a href="img/Senior_Design/4.jpg" data-lightbox="true" data-title="Troubleshooting the PCB">
                <div class="background-image-holder">
                  <img class="background-image lightbox-image" alt="Troubleshooting the PCB" src="img/Senior_Design/4.jpg">
                </div>
              </a>
            </div>
          </div>

          <div class="col-sm-4 veo">
            <div class="image-holder" data-scroll-reveal="enter bottom and move 30px">
              <a href="img/Senior_Design/5.jpg" data-lightbox="true" data-title="PCBs inside the enclosure">
                <div class="background-image-holder">
                  <img class="background-image lightbox-image" alt="PCBs inside the enclosure" src="img/Senior_Design/5.jpg">
                </div>
              </a>
            </div>
          </div>

          <div class="col-sm-4 veo">
            <div class="image-holder" data-scroll-reveal="enter bottom and move 30px">
              <a href="img/Senior_Design/6.jpg" data-lightbox="true" data-title="Completed PCBs">
                <div class="background-image-holder">
                  <img class="background-image lightbox-image" alt="Completed PCBs" src="img/Senior_Design/6.jpg">
                </div>
              </a>
            </div>
          </div>

          <div class="col-sm-4 veo">
            <div class="image-holder" data-scroll-reveal="enter bottom and move 30px">
              <a href="img/Senior_Design/7.jpg" data-lightbox="true" data-title="PCB1 V2.3 Layout">
                <div class="background-image-holder">
                  <img class="background-image lightbox-image" alt="PCB1 V2.3 Layout" src="img/Senior_Design/7.jpg">
                </div>
              </a>
            </div>
          </div>

          <div class="col-sm-4 veo">
            <div class="image-holder" data-scroll-reveal="enter bottom and move 30px">
              <a href="img/Senior_Design/8.jpg" data-lightbox="true" data-title="PCB1 V2.3 Schematic">
                <div class="background-image-holder">
                  <img class="background-image lightbox-image" alt="PCB1 V2.3 Schematic" src="img/Senior_Design/8.jpg">
                </div>
              </a>
            </div>
          </div>

          <div class="col-sm-4 veo">
            <div class="image-holder" data-scroll-reveal="enter bottom and move 30px">
              <a href="img/Senior_Design/9.jpg" data-lightbox="true" data-title="PCB2 V1.1 Layout">
                <div class="background-image-holder">
                  <img class="background-image lightbox-image" alt="PCB2 V1.1 Layout" src="img/Senior_Design/9.jpg">
                </div>
            </a>
            </div>
          </div>

          <div class="col-sm-4 veo" data-scroll-reveal="enter bottom and move 30px">
            <div class="image-holder">
              <a href="img/Senior_Design/10.jpg" data-lightbox="true" data-title="PCB2 V1.1 Schematic">
                <div class="background-image-holder">
                  <img class="background-image lightbox-image" alt="PCB2 V1.1 Schematic" src="img/Senior_Design/10.jpg">
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pure-text-centered">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
          <span class="sub alt-font">Bird call display</span>
          <h1><strong>Project Files</strong></h1>
          <li><a href="documents/Senior Design/405_Final_Presentation.pptx" download="405_Final_Presentation.pptx"> PowerPoint Presentation</a></li>
          <li><a href="documents/Senior Design/Final_Technical_Report_.docx" download="Final_Technical_Report_.docx"> Technical Report</a></li>
          <li><a href="documents/Senior Design/SD1319_Options_Considered.docx" download="SD1319_Options_Considered.docx"> Options Considered Document</a></li>
          <li><a href="documents/Senior Design/SD1319_Requirements_Capture.docx" download="SD1319_Requirements_Capture.docx">Requirements Capture Document</a></li>
          <li><a href="documents/Senior Design/User_Manual.docx" download="User_Manual.docx">User Manual Document</a></li>
          <li><a href="documents/Senior Design/Software_code.pdf" download="Software_code.pdf">Software Code PDF</a></li>
        </div>
      </div>
    </div>
  </section>
  <section class="video-inline">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
          <span class="sub alt-font">Bird call display</span>
          <h1 class="space-bottom-medium"><strong>Videos</strong></h1>
          <p class="lead space-bottom-medium">Final project walk around</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="media-holder fullwidth-video">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/6hVN-1bXVmU?showinfo=0&amp;rel=0&amp;modestbranding=1" frameborder="0" allowfullscreen="">
            </iframe>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
          <h1 class="space-bottom-medium"></h1>
          <p class="lead space-bottom-medium">Bird call demo</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="media-holder fullwidth-video">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/FF9BA1QHzg0?showinfo=0&amp;rel=0&amp;modestbranding=1" frameborder="0" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="https://www.youtube.com/iframe_api"></script>
<script src="plugins/scrollReveal/scrollReveal.min.js"></script>

<% include ../partials/footer.html %>
