<% include ../partials/top-nav-header.html %>

<div class="main-container">
  <header class="page-header">
    <div class="background-image-holder parallax-background">
      <img class="background-image" alt="Background Image" src="img/7898132606_cac2a9e838_o.jpg">
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1 class="text-white">Online Portfolio</h1>
          <p class="lead text-white">Personal Website</p>
        </div>
      </div>
    </div>
  </header>

  <section class="pure-text-centered">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-offset-2 text-center col-md-8">
          <span class="sub alt-font">Online portfolio</span>
          <h1><strong>Project Description</strong></h1>
          <p class="lead">Modern website built using some of the latest web tools and technologies</p>
          <p><strong>Purpose:</strong></p>
          <p>I set out to create a website mostly for the fun of it, but also for a chance to show off some of my work. It had been a few years since I created my last website, and I wanted to get a chance to work hands on with the latest front end web development technologies. The end result is a responsive, robust site that incorporates a number of different coponents. </p>
        </div>
      </div>
    </div>
  </section>

  <section class="duplicatable-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Attributions</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="feature feature-icon-large">
            <div class="pull-left">
              <a href="http://lesscss.org/"><img class=attr alt="Less Logo" src="img/website/client2.png"></a>
            </div>
            <div class="pull-right">
              <h5>Less</h5>
              <p>CSS pre-processor</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="feature feature-icon-large">
            <div class="pull-left">
              <a href="http://getbootstrap.com/"><img class=attr alt="Bootstrap Logo" src="img/website/client5.png"></a>
            </div>
            <div class="pull-right">
              <h5>Bootstrap</h5>
              <p>HTML/CSS/JS framework for developing responsive websites</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="feature feature-icon-large">
            <div class="pull-left">
              <a href="https://jquery.com/"><img class=attr alt="jQuery Logo" src="img/website/client6.png"></a>
            </div>
            <div class="pull-right">
              <h5>jQuery</h5>
              <p>JavaScript library used to simplify client-side scripting</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="feature feature-icon-large">
            <div class="pull-left">
              <a href="https://github.com/mattboldt/typed.js/"><img class=attr alt="typedjs logo" src="img/website/typedjs.png"></a>
            </div>
            <div class="pull-right">
              <h5>Typed.js</h5>
              <p>jQuery typing animation script.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="feature feature-icon-large">
            <div class="pull-left">
              <a href="https://nodejs.org"><img class=attr alt="nodejs logo" src="img/website/nodejs.png"></a>
            </div>
            <div class="pull-right">
              <h5>Node.js</h5>
              <p>JavaScript runtime built on Chrome's V8 JS engine</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="feature feature-icon-large">
            <div class="pull-left">
              <a href="https://www.elegantthemes.com/blog/resources/elegant-icon-font"><img class=attr alt="elegant icons pack" src="img/website/elegant icons.jpg"></a>
            </div>
            <div class="pull-right">
            <h5>Elegant Icons</h5>
            <p>Font package containg icons</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="feature feature-icon-large">
            <div class="pull-left">
              <a href="http://lokeshdhakar.com/projects/lightbox2/"><img class=attr alt="lightbox icon" src="img/website/lightbox.png"></a>
            </div>
            <div class="pull-right">
              <h5>Lightbox</h5>
              <p>JavaScript library for displaying images & videos</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="feature feature-icon-large">
            <div class="pull-left">
              <a href="http://modernizr.com/"><img class=attr alt="modernizr icon" src="img/website/modernizr.png"></a>
            </div>
            <div class="pull-right">
              <h5>Modernizr</h5>
              <p>JavaScript library that detects HTML5/CSS3 features in the browser</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="feature feature-icon-large">
            <div class="pull-left">
              <a href="http://www.jasonmayes.com/projects/twitterApi/"><img class=attr alt="twitter icon" src="img/website/twitter.gif"></a>
            </div>
            <div class="pull-right">
              <h5>Twitter Fetcher</h5>
              <p>Gets a users tweets for diplay on a website</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="feature feature-icon-large">
            <div class="pull-left">
              <a href="http://lab.adrianquevedo.com/jquery-spectragram/"><img class=attr alt="spectragram icon" src="img/website/spectragram.png"></a>
            </div>
            <div class="pull-right">
              <h5>Spectragram</h5>
              <p>jQuery plugin for Instagram API</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="feature feature-icon-large">
            <div class="pull-left">
              <a href="https://github.com/jlmakes/scrollReveal.js"><img class=attr alt="scrollreveal icon" src="img/website/scrollreveal.png"></a>
            </div>
            <div class="pull-right">
              <h5>ScrollReveal.js</h5>
              <p>Reveal elements as they enter the viewport</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="feature feature-icon-large">
            <div class="pull-left">
              <a href="https://github.com/metafizzy/isotope"><img class=attr alt="isotope icon" src="img/website/isotope.png"></a>
            </div>
            <div class="pull-right">
              <h5>Isotope</h5>
              <p>Filter & sort magical layouts</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="feature feature-icon-large">
            <div class="pull-left">
              <a href="http://www.w3.org/TR/html5/"><img class=attr alt="HTML5 Logo" src="img/website/html5 css3 js.png"></a>
            </div>
            <div class="pull-right">
              <h5>HTML5 / CSS3 / JavaScript</h5>
              <p>Modern web development standards</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>

<script src="plugins/scrollReveal/scrollReveal.min.js"></script>

<% include ../partials/footer.html %>
