<!-- <div class="loader"></div> -->

<div class="nav-container">
  <nav class="centered-logo top-bar">
    <div class="container">
      <div class="row utility-menu">
        <div class="col-sm-12">
          <div class="utility-inner clearfix">
            <span class="alt-font"><i class="fa fa-map-marker"></i> Denver, CO</span>
            <span class="alt-font"><i class="fa fa-envelope"></i> Jacob.Schulzetenberg@gmail.com</span>
            <ul class="social-icons text-right">
              <li>
                <a href="http://www.linkedin.com/in/schulzetenberg" target="default">
                <i class="fa fa-linkedin-square"></i>
                </a>
              </li>
              <li>
                <a href="http://blog.schulzetenberg.com" target="default">
                <i class="fa fa-wordpress" style="font-size: 90%;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/schulzetenberg" target="default">
                <i class="fa fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/schulzetenberg" target="default">
                <i class="fa fa-twitter-square"></i>
                </a>
              </li>
              <li>
                <a href="https://play.spotify.com/user/1210741906" target="default">
                <i class="fa fa-spotify"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/schulzetenberg" target="default">
                <i class="fa fa-github-square"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <a href="/"><img class="logo logo-light" alt="Logo" src="assets/img/mountain-3-512.png"></a>
          <a href="/"><img class="logo logo-dark" alt="Logo" src="assets/img/mountain-3-512.png"></a>
        </div>
      </div>

      <div class="row nav-menu">
        <div class="col-sm-12 columns text-center">
          <ul class="menu">
            <li><a href="http://blog.schulzetenberg.com">Blog</a></li>
            <li><a routerLink="/about">About</a></li>
          </ul>
        </div>
      </div>

      <div class="mobile-toggle">
        <i class="fa fa-bars icon_menu"></i>
      </div>
    </div>
    <div class="bottom-border"></div>
  </nav>
</div>
