@import '../../../assets/scss/site-defaults';

.completion {
  border: 3px solid $primary;
  text-align: center;
  border-radius: 10px;
  float: left;
  margin: 20px;
  padding-top: 12px;
  height: 160px;
  width: 160px;
}

@media (max-width: 767px) {
  .completion {
    height: 135px;
    width: 135px;
  }
}

.completion .h1 {
  padding-top: 15px;
  font-weight: 400;
  font-size: 3.2rem;
  transform: scaleY(1.5);
}

.legend {
  float: right;
  list-style-type: none;
  margin: 40px 20px;
  padding: 15px;
}

.legend li {
  text-align: left;
}

.legend-visited,
.legend-temporary,
.legend-never {
  display: inline-block;
  height: 15px;
  width: 15px;
  border: thin solid #191919;
}

.legend-visited {
  background: #433e47;
}

.legend-temporary {
  background: #79757b;
}

.legend-never {
  background: #f4f4f4;
}
