@import '~fullpage.js/dist/fullpage.min.css';

// Bootstrap variable overrides
$enable-shadows: true;
$enable-gradients: true;

$container-max-widths: (
  xl: 1300px,
);

@import 'node_modules/bootstrap/scss/bootstrap';

// Custom
@media (max-width: 767px) {
  html {
    font-size: 0.8rem;
  }
}

.text-white:not(i) {
  text-shadow: black 0px 0px 10px;
}

@import 'assets/scss/custom';
