@import '../shared/scss/shadow.mixin';

.view {
  background: url("./background.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: #4285f4;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #4285f4;
  }
}

#headshot {
  width: 200px;
  height: 200px;
  border-radius: 100px;

  @include shadow(4);
}
