<header>
  <nav class="navbar navbar-light navbar-expand-lg">
    <!-- <a class="navbar-brand" href="/">JS</a> -->
    <div class="d-flex flex-row mx-auto order-2 order-lg-3">
      <ul class="navbar-nav flex-row">
        <li class="nav-item px-3">
          <a class="nav-link" href="https://www.linkedin.com/in/schulzetenberg" target="default">
            <i class="fa fa-2x fa-linkedin-square"></i>
          </a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="https://www.instagram.com/schulzetenberg" target="default">
            <i class="fa fa-2x fa-instagram"></i>
          </a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="https://twitter.com/schulzetenberg" target="default">
            <i class="fa fa-2x fa-twitter-square"></i>
          </a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="https://open.spotify.com/user/waterland15" target="default">
            <i class="fa fa-2x fa-spotify"></i>
          </a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="https://github.com/schulzetenberg" target="default">
            <i class="fa fa-2x fa-github-square"></i>
          </a>
        </li>
      </ul>
      <!--
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
					<span class="navbar-toggler-icon"></span>
				</button>
-->
    </div>
    <!--
    <div class="collapse navbar-collapse order-3 order-lg-2" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Features</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Dropdown link</a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
		</div>
-->
  </nav>

  <div class="view intro-2">
    <div class="full-bg-img">
      <div class="mask blue-light flex-center">
        <div class="container text-white text-center">
          <img id="headshot" class="d-inline mb-3" alt="Linked In" src="assets/img/profile-cartoon-crop.jpg" />
          <h3 class="h3-responsive">I am Jacob Schulzetenberg</h3>
          <p>
            A software engineer with an interest in <br />
            web development, technology, analytics, and finance
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
