<header>
  <nav class="navbar navbar-light navbar-expand-lg">
    <!-- <a class="navbar-brand" href="/">JS</a> -->
    <div class="d-flex flex-row mx-auto order-2 order-lg-3">
      <ul class="navbar-nav flex-row">
        <li class="nav-item px-3">
          <a class="nav-link" href="https://www.linkedin.com/in/schulzetenberg" target="default">
            <i class="fa fa-2x fa-linkedin-square" aria-label="LinkedIn Icon"></i>
            <span class="sr-only">Navigate to LinkedIn profile</span>
          </a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="https://www.instagram.com/schulzetenberg" target="default">
            <i class="fa fa-2x fa-instagram" aria-label="Instagram Icon"></i>
            <span class="sr-only">Navigate to Instagram profile</span>
          </a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="https://twitter.com/schulzetenberg" target="default">
            <i class="fa fa-2x fa-twitter-square" aria-label="Twitter Icon"></i>
            <span class="sr-only">Navigate to Twitter profile</span>
          </a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="https://open.spotify.com/user/waterland15" target="default">
            <i class="fa fa-2x fa-spotify" aria-label="Spotify Icon"></i>
            <span class="sr-only">Navigate to Spotify profile</span>
          </a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="https://github.com/schulzetenberg" target="default">
            <i class="fa fa-2x fa-github-square" aria-label="Github Icon"></i>
            <span class="sr-only">Navigate to Github profile</span>
          </a>
        </li>
      </ul>
      <!--
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
					<span class="navbar-toggler-icon"></span>
				</button>
-->
    </div>
    <!--
    <div class="collapse navbar-collapse order-3 order-lg-2" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Features</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Dropdown link</a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
		</div>
-->
  </nav>

  <div class="view intro-2">
    <div class="full-bg-img">
      <div class="mask blue-light flex-center">
        <div class="container text-white text-center">
          <img id="headshot" class="d-inline mb-3" #headshot alt="headshot" src="assets/img/profile-cartoon-crop.jpg" aria-hidden="true" />
          <h1 #h1 class="h2 pb-2">
            <div>I am Jacob Schulzetenberg</div>
          </h1>
          <h2 #h2 class="h6">
            <div>
              A software engineer with an interest in <br />
              web development, analytics, and finance
            </div>
          </h2>
        </div>
      </div>
    </div>
  </div>
</header>
