/* Original code from http://srobbin.com/blog/3d-css-book-covers/ */
@import '../../../assets/scss/shadow.mixin';

.books {
  -moz-perspective: 100px;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.book {
  display: inline-block;
  margin: 10px;
  position: relative;
  -moz-perspective: 100px;
  -moz-transform: rotateY(-3deg);
  -webkit-transform: perspective(100) rotateY(-3deg);
  -ms-transform: perspective(100) rotateY(-3deg);
  transform: perspective(100) rotateY(-3deg);
  outline: 1px solid transparent;

  /* Helps smooth jagged edges in Firefox */
  box-shadow: none;
}

.book img {
	height: 150px;
  @include shadow(2);
  transition: all 0.3s ease;
  vertical-align: middle;
  position: relative;
  max-width: 100%;
}

@media screen and (min-width: 800px) {
  .book img {
    height: 220px;
  }
}

.book img:hover {
  filter: saturate(130%);
  transition: all 0.4s ease;
}

.book::before,
.book::after {
  position: absolute;
  top: 2%;
  height: 96%;
  content: ' ';
  z-index: -1;
}

.book::before {
  width: 100%;
  left: 7.5%;
  background-color: #362411;
  @include shadow(1);
  transition: all 0.4s ease;
}

.book:hover::before {
  @include shadow(3);
  transition: all 0.4s ease;
}

.book::after {
  background-color: #efefef;
  box-shadow: inset 0 0 5px #aaa;
  left: 100%;
  width: 5%;
  -moz-transform: rotateY(20deg);
  -webkit-transform: perspective(100) rotateY(20deg);
  -ms-transform: perspective(100) rotateY(20deg);
  transform: perspective(100) rotateY(20deg);
}
