<section class="image-divider2 overlay2 duplicatable-content">
  <div class="background-image-holder parallax-background skrollable skrollable-between"
  style="transform: translate3d(0px, -31.9658px, 0px); background: url(assets/img/kindle.jpg) 50% 0%;"
  data-bottom-top="-webkit-transform: translate3d(0px,-100px, 0px)"
  data-center="-webkit-transform: translate3d(0px,0px, 0px)"
  data-top-bottom="-webkit-transform: translate3d(0px,100px, 0px)">
     <img class="background-image" alt="Background Image" src="assets/img/kindle.jpg" style="display: none;">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 text-center">
        <h1 class="text-white">Books</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="feature feature-icon-large">
          <i class="text-white fa fa-book"></i>
          <h5 class="text-white">Books Read</h5>
          <p class="text-white" [innerHtml]="books && (books.length + ' (Past 6 Months)')"></p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="feature feature-icon-large">
          <i class="text-white fa fa-file-text-o "></i>
          <h5 class="text-white">Pages Read</h5>
          <p class="text-white" [innerHtml]="pagesRead && (pagesRead + ' (Past 6 Months)')"></p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="feature feature-icon-large">
          <i class="text-white fa fa-file-text-o "></i>
          <h5 class="text-white">Favorite Books</h5>
          <p class="text-white" [innerHtml]="topBooksList"></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <a href="https://www.goodreads.com/review/list/41826442-jacob?shelf=read">
           <img style="border: white; border-style: solid; width: 48px; opacity:0.8;"
           onMouseOut="this.style.opacity='0.8'" onMouseOver="this.style.opacity='1'" src="assets/img/goodreads.ico">
        </a>
      </div>
    </div>
  </div>
</section>

<section class="aq-block light-wrapper">
  <div class="container">
    <div class="col-sm-8 offset-sm-2 text-center">
      <h1>Recently Read</h1>
    </div>
    <div class="col-sm-12 pt-2" style="min-height: 300px;">
        <div class="books text-center">
            <div id="book1" class="book" *ngFor="let book of recentBooks">
                <a [href]="book.link" target="_blank">
                  <img [title]="book.title" [src]="book.img" />
                </a>
            </div>
        </div>
    </div>
  </div>
</section>
