<section class="image-divider2 overlay2 duplicatable-content">
  <div class="background-image-holder" style="background: url(assets/img/kindle.jpg) 50% 0%"></div>

  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 text-center">
        <h2 class="h1 text-white">Books</h2>
      </div>
    </div>
    <div class="row main-section-content">
      <div class="col-sm-12 col-lg-2 offset-lg-1" *ngIf="bookData && bookData.books">
        <div class="feature">
          <div class="h5 text-white">Books Read</div>
          <p class="text-white focus-number" [innerHtml]="bookData.books.length | number"></p>
          <small class="text-white focus-subtext">PAST YEAR</small>
        </div>
      </div>
      <div class="col-sm-12 col-lg-2" *ngIf="bookData && bookData.pagesRead">
        <div class="feature">
          <div class="h5 text-white">Pages Read</div>
          <p class="text-white focus-number" [innerHtml]="bookData.pagesRead | number"></p>
          <small class="text-white focus-subtext">PAST YEAR</small>
        </div>
      </div>
      <div class="col-sm-12 col-lg-7" *ngIf="bookData && bookData.topBooksList">
        <div class="feature">
          <div class="h5 text-white">Recent Favorite Books</div>
          <p class="text-white" [innerHtml]="bookData.topBooksList"></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <a href="https://www.goodreads.com/review/list/41826442-jacob?shelf=read">
          <img
            style="border: white; border-style: solid; width: 48px; opacity: 0.8"
            onMouseOut="this.style.opacity='0.8'"
            onMouseOver="this.style.opacity='1'"
            src="assets/img/goodreads.ico"
            alt="Goodreads icon"
          />
          <span class="sr-only">Navigate to Goodreads profile</span>
        </a>
      </div>
    </div>
  </div>
</section>
