<div class="slide">
  <section class="image-divider2 overlay2 duplicatable-content">
    <div class="background-image-holder" style="background: url(assets/img/kindle.jpg) 50% 0%"></div>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 offset-sm-2 text-center">
          <h2 class="h1 text-white">Books</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-lg-2 offset-lg-1" *ngIf="books">
          <div class="h5 text-white">
            <i class="text-white fa fa-circle"></i>
            Books Read
          </div>
          <p class="text-white" [innerHtml]="(books.length | number) + pastYear"></p>
        </div>
        <div class="col-sm-12 col-lg-2" *ngIf="pagesRead">
          <div class="h5 text-white">
            <i class="text-white fa fa-circle"></i>
            Pages Read
          </div>
          <p class="text-white" [innerHtml]="(pagesRead | number) + pastYear"></p>
        </div>
        <div class="col-sm-12 col-lg-7">
          <div class="h5 text-white">
            <i class="text-white fa fa-circle"></i>
            Favorite Books
          </div>
          <p class="text-white" [innerHtml]="topBooksList"></p>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-sm-12 text-center">
          <a href="https://www.goodreads.com/review/list/41826442-jacob?shelf=read">
            <img
              style="border: white; border-style: solid; width: 48px; opacity: 0.8"
              onMouseOut="this.style.opacity='0.8'"
              onMouseOver="this.style.opacity='1'"
              src="assets/img/goodreads.ico"
              alt="Goodreads icon"
            />
            <span class="sr-only">Navigate to Goodreads profile</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="slide">
  <app-recent-books [recentBooks]="recentBooks"></app-recent-books>
</div>
