<app-top-nav-header></app-top-nav-header>

<div class="main-container">
  <section class="no-pad coming-soon fullscreen-element">
    <div class="background-image-holder overlay">
    <img class="background-image" alt="Poster Image For Mobiles" src="assets/img/hero8.jpg">
    </div>

    <div class="container align-vertical">
      <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
          <img alt="logo" class="logo" src="assets/img/mountain-3-512.png">
          <h1 class="text-white">This Page Is Currently Under Construction</h1>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-sm-12 text-center">
          <div class="photo-form-wrapper clearfix">
            <div class="row"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>
